// Variables
// =============================================

// Typography
$font-weight-normal: 400;
$font-weight-500: 500;
$font-weight-600: 600;

// Brand colours
$brand-primary: #cf1717; // Red

// Greys
$shade-1: #231f20;
$shade-2: #3f3f3f;
$brand-secondary: $shade-1;

// UI colours
$white: #fff;
$green: #77b204;
$highlight: #f0efda;

// Vendor
$facebook-primary: #3b5998;
$twitter-primary: #1da1f2;
$instagram-primary: #405de6;

// Buttons
$lips-btn-primary: $brand-primary; // red
$lips-btn-secondary: $green; // green

// Border radius
$radius-xs: 0.19rem;
$radius: 0.25rem;
$radius-round: 50%;
$radius-pill: 44px;


// Mixins
// =============================================

@mixin button-theme($btn-color) {
	color: $white;
  background-color: $btn-color;
	border-color: $btn-color;
	cursor: pointer;
  &:hover {
  	color: $white;
    background-color: darken($btn-color, 7.5%);
    border-color: darken($btn-color, 7.5%);
  }
  &:active {
  	color: $white;
    background-color: darken($btn-color, 10%);
    border-color: darken($btn-color, 10%);
  }

}

// Border radius
@mixin border-radius($radius) {
	border-radius: $radius;
}

// Transitions
@mixin transition($args...) {
	-webkit-transition: $args;
	-moz-transition: $args;
	-ms-transition: $args;
	-o-transition: $args;
	transition: $args;
}

// Transforms
@mixin transform($args...) {
	-webkit-transform: $args;
	-moz-transform: $args;
	-ms-transform: $args;
	-o-transform: $args;
	transform: $args;
}

// Box Shadow
// https://css-tricks.com/snippets/sass/material-shadows-mixin/
@function top-shadow($depth) {
	$primary-offset: nth(1.5 3 10 14 19, $depth) * 1px;
	$blur: nth(1.5 3 10 14 19, $depth) * 4px;
	$color: rgba($shade-2, nth(.12 .16 .19 .25 .30, $depth));
	@return 0 $primary-offset $blur $color;
}

@function bottom-shadow($depth) {
	$primary-offset: nth(1.5 3 6 10 15, $depth) * 1px;
	$blur: nth(1 3 3 5 6, $depth) * 4px;
	$color: rgba($shade-2, nth(.24 .23 .23 .22 .22, $depth));
	@return 0 $primary-offset $blur $color;
}

@mixin card($depth) {
	@if $depth < 1 {
		box-shadow: none;
	} @else if $depth > 5 {
		@warn "Invalid $depth `#{$depth}` for mixin `card`.";
	} @else {
		box-shadow: bottom-shadow($depth), top-shadow($depth);  
	}
}


// Typography
// =============================================

.title-bold, strong, b {
	font-weight: $font-weight-600;
}

p a {
	text-decoration: underline;
}

// Content

.page-intro-title {
	font-size: 32px;
	line-height: 42px;
}

.page-intro {
	margin-bottom: 2rem;
}

.page-intro-home {
	margin: 3rem 0 2rem;
}

@media only screen and (min-width: 768px) {

	.page-intro-title {
		font-size: 46px;
	}

	.page-intro {
		margin-bottom: 2rem;
	}
}


// Header
// =============================================

.nav-info {
	height: 70px;
	color: $white;
	font-size: 12px;
	background-color: $brand-primary;

	.nav-spacer {
		color: rgba($white, 0.4s);
	}

	.list-inline-item:not(:last-child) {
		margin-right: 14px;
	}

	a {
		color: $white;
		&:hover {
			color: rgba($white, 0.8s);
			text-decoration: none;
		}
	}

}

.nav-item-social:first-of-type {
	margin-left: 8px;
}

.nav-item-social:not(:last-child) {
	margin-right: 8px;
}

.nav-main {
	position: relative;
	background-color: $shade-1;
}

@media only screen and (min-width: 768px) {

	.nav-info {
		height: auto;
	}

	.nav-main {
		height: 63px;
	}

}

// logo data url

.logo {
	position: absolute;
	left: 50%; top: 4px;
	margin-left: -38px;
	display: block;
	width: 76px;
	height: 76px;
	text-align: center;
	background-color: $white;
	border-radius: $radius-round;
	z-index: 100;
	@include transition(all 0.2s ease-in);
	@include card(3);

	&:hover {
		@include card(4);
	}
}

// logo data url
// https://websemantics.uk/tools/svg-to-background-image-conversion/

.logo-img {
	display: inline-block;
	width: 100%;
	height: 100%;
	text-indent: -999em;
	background-repeat: no-repeat;
}

.logo-drinkspy {
	background-position: center 45%;
	background-size: 75% auto;
  background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='254px' height='255px' viewBox='0 0 254 255' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 49 (51002) - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3Elogo/logoPrimary%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3Cpolygon id='path-1' points='66.0845 15.6265 253.344 15.6265 253.344 93.97 66.0845 93.97'%3E%3C/polygon%3E%3Cpolygon id='path-3' points='68.727 24.6575 116.726 24.6575 116.726 157.469 68.727 157.469'%3E%3C/polygon%3E%3C/defs%3E%3Cg id='logo/logoPrimary' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='text' transform='translate(0.000000, 161.000000)'%3E%3Cpath d='M41.3225,21.249 C41.2385,23.05 40.795,25.0255 39.994,27.175 C39.191,29.324 37.7945,31.4655 35.803,33.598 C33.8115,35.7315 31.849,37.4395 29.9155,38.722 C27.9815,40.006 26.188,40.945 24.537,41.54 C22.885,42.135 21.4415,42.4205 20.2055,42.3965 C18.9695,42.3725 18.0225,42.1245 17.3675,41.6535 C17.042,41.1575 17.011,40.323 17.2745,39.1485 C17.532,38.129 18.1185,36.702 19.0345,34.87 C19.949,33.0385 21.472,30.5555 23.604,27.4215 L26.207,23.5525 C27.6205,21.424 28.883,19.7635 29.996,18.5705 C31.1075,17.378 32.0685,16.4705 32.879,15.8465 C33.7975,15.1445 34.6025,14.675 35.294,14.4375 C36.6265,14.033 37.5755,13.837 38.141,13.85 C38.706,13.8635 39.23,14.0435 39.7135,14.3905 C40.128,14.689 40.52,15.4565 40.8915,16.6925 C41.262,17.9295 41.4055,19.448 41.3225,21.249 Z M70.497,54.9785 C71.0465,53.469 71.422,52.122 71.623,50.9395 C71.823,49.756 71.8685,48.745 71.759,47.907 C71.648,47.0695 71.4585,46.3465 71.1885,45.7385 C70.552,44.3325 69.4725,43.3955 67.951,42.9295 C67.323,42.8585 66.384,42.8935 65.1325,43.035 C64.07,43.177 62.6275,43.391 60.808,43.6795 C58.987,43.969 56.6645,44.485 53.841,45.2285 C54.514,43.7565 55.029,42.705 55.3855,42.073 C55.573,41.6915 55.7505,41.375 55.9205,41.126 C56.0325,40.8965 56.2305,40.6375 56.513,40.3495 C56.739,40.0815 57.031,39.7745 57.39,39.4285 C57.7475,39.083 58.182,38.6795 58.6915,38.219 C58.026,38.129 57.3655,38.004 56.7095,37.8465 C56.0525,37.6895 55.4395,37.517 54.869,37.33 C54.203,37.1445 53.566,36.949 52.957,36.743 C52.557,36.594 52.0995,36.4155 51.5865,36.209 C51.148,36.041 50.629,35.8205 50.03,35.548 C50.0235,35.5455 50.0175,35.542 50.0115,35.5395 C50.406,34.6515 50.714,33.778 50.9355,32.9185 C51.4355,30.9715 51.633,29.122 51.5275,27.367 C51.42,25.6135 51.0745,23.9755 50.4895,22.4535 C49.9035,20.931 49.228,19.555 48.4625,18.3225 C47.6965,17.091 46.904,16.0225 46.0865,15.12 C45.268,14.217 44.573,13.5085 44.0015,12.992 C43.144,12.218 42.1775,11.5225 41.1025,10.907 C40.0265,10.291 38.968,9.7265 37.925,9.213 C36.8815,8.698 35.9045,8.219 34.995,7.7745 C34.0845,7.33 33.378,6.874 32.876,6.408 C32.4165,6.026 31.867,5.552 31.227,4.9865 C30.689,4.495 30.009,3.875 29.1865,3.126 C28.3625,2.376 27.4085,1.4815 26.3245,0.4395 C26.782,1.922 27.0955,3.183 27.2675,4.2235 C27.4385,5.2635 27.5485,6.116 27.5975,6.7805 C27.606,7.573 27.543,8.21 27.41,8.69 C27.2605,9.2645 26.892,10.0745 26.304,11.119 C25.7795,12 25.0065,13.1745 23.986,14.6425 C22.965,16.1105 21.5525,17.926 19.7485,20.089 L16.805,23.5555 C14.4375,26.3625 12.5495,28.5695 11.1415,30.1775 C9.732,31.7865 8.643,33.0215 7.872,33.883 C6.9425,34.8925 6.3075,35.5625 5.967,35.8945 C5.6305,36.0725 5.184,36.223 4.6265,36.3455 C4.152,36.425 3.529,36.4745 2.7575,36.496 C1.985,36.518 1.066,36.4335 0,36.243 C0.675,36.8345 1.432,37.458 2.2705,38.1115 C3.108,38.7665 3.9995,39.421 4.944,40.073 C5.888,40.7265 6.8465,41.376 7.8215,42.0245 C8.7945,42.6725 9.7375,43.2715 10.6505,43.823 C12.785,45.1485 14.9675,46.4815 17.197,47.822 C20.0325,49.703 22.8435,50.8865 25.6315,51.37 C28.4195,51.8545 31.125,51.702 33.7495,50.916 C36.3735,50.129 38.903,48.7235 41.339,46.7 C43.774,44.677 46.028,42.1035 48.1,38.9795 C48.292,38.6895 48.475,38.4015 48.65,38.1145 C48.657,38.211 48.664,38.3085 48.668,38.4025 C48.7095,38.9925 48.713,39.5645 48.6795,40.118 C48.644,40.575 48.4545,41.325 48.111,42.366 C47.767,43.407 47.3335,44.6075 46.8115,45.964 C46.289,47.321 45.705,48.755 45.061,50.2645 C44.4155,51.775 43.79,53.2235 43.1825,54.6095 C42.5745,55.996 41.999,57.2195 41.456,58.2815 C40.912,59.343 40.49,60.132 40.1905,60.6485 C39.814,61.2225 39.41,61.759 38.977,62.258 C38.6195,62.699 38.209,63.1505 37.7475,63.6105 C37.285,64.07 36.799,64.4355 36.2885,64.707 C37.182,65.0055 38.0055,65.2805 38.7575,65.533 C39.509,65.785 40.17,66.0045 40.7415,66.1915 C41.388,66.415 41.997,66.621 42.568,66.808 C43.082,67.0135 43.672,67.257 44.339,67.539 C45.443,67.9885 46.8145,68.665 48.454,69.5695 C47.972,68.5245 47.642,67.5545 47.466,66.66 C47.2885,65.7655 47.197,64.9845 47.1935,64.3175 C47.1685,63.498 47.24,62.7725 47.406,62.1425 C47.6475,61.455 47.993,60.509 48.4405,59.3045 C48.8505,58.2725 49.4015,56.9295 50.0935,55.2765 C50.784,53.623 51.691,51.5535 52.8135,49.0675 C54.6475,48.0255 56.182,47.452 57.4155,47.3485 C58.6485,47.245 59.646,47.334 60.4075,47.6145 C61.3015,47.9125 62.008,48.451 62.526,49.229 C62.873,50.066 62.9065,50.866 62.628,51.63 C62.3855,52.3185 61.7875,53.032 60.834,53.7725 C59.88,54.5125 58.2845,55.1395 56.048,55.65 C57.209,56.08 58.194,56.4595 59.004,56.7875 C59.8125,57.115 60.502,57.373 61.0735,57.5595 L62.701,58.1485 C63.12,58.3555 63.5955,58.543 64.129,58.711 C64.566,58.88 65.1185,59.081 65.785,59.314 C66.451,59.548 67.2025,59.824 68.0405,60.1415 C69.128,58.21 69.947,56.488 70.497,54.9785 Z' id='Fill-5' fill='%23CF1717'%3E%3C/path%3E%3Cpath d='M78.4595,46.6515 C79.269,47.1645 80.375,47.284 81.777,47.0105 C83.1915,46.698 84.103,46.1845 84.5115,45.47 C84.9195,44.7565 84.982,44.0325 84.699,43.3 C84.416,42.567 83.8785,41.948 83.089,41.4425 C82.298,40.937 81.4055,40.757 80.409,40.9015 C79.1165,41.1225 78.198,41.623 77.655,42.402 C77.1115,43.1815 76.907,43.957 77.042,44.7265 C77.1765,45.4975 77.649,46.139 78.4595,46.6515' id='Fill-7' fill='%23CF1717'%3E%3C/path%3E%3Cmask id='mask-2' fill='white'%3E%3Cuse xlink:href='%23path-1'%3E%3C/use%3E%3C/mask%3E%3Cg id='Clip-9'%3E%3C/g%3E%3Cpath d='M113.669,71.425 C114.312,70.2265 114.8905,68.9715 115.4045,67.66 C115.9175,66.35 116.083,64.8295 115.899,63.1005 C115.8715,62.573 115.588,61.911 115.052,61.1115 C114.5145,60.312 113.7735,59.505 112.8285,58.6905 C111.8835,57.877 110.7365,57.099 109.3885,56.3575 C108.04,55.616 106.5395,55.0415 104.8895,54.632 C103.5555,54.371 102.161,54.3165 100.705,54.4655 C99.431,54.5645 98.03,54.877 96.5005,55.4025 C94.9715,55.929 93.3855,56.857 91.7445,58.186 L93.039,52.5115 C92.2975,52.541 91.644,52.565 91.0785,52.585 C90.512,52.6045 90.0335,52.6195 89.6425,52.63 C89.159,52.6655 88.7395,52.714 88.382,52.7745 C87.9825,52.8265 87.5165,52.888 86.984,52.957 C86.5005,52.993 85.902,53.0175 85.186,53.0295 C84.7345,53.037 84.2265,53.047 83.6625,53.0585 C83.7405,52.9415 83.8165,52.827 83.8965,52.7085 L72.8865,48.68 C73.449,49.512 73.895,50.2 74.2215,50.745 C74.5475,51.29 74.796,51.705 74.966,51.991 L75.355,52.8065 C75.4045,53.0505 75.319,53.551 75.098,54.3085 C74.8765,55.067 74.5975,55.9275 74.2595,56.8925 C73.921,57.8575 73.572,58.8525 73.212,59.8775 C72.8525,60.9025 72.5315,61.8175 72.25,62.621 C71.9835,63.2505 71.587,64.0595 71.061,65.048 C70.59,65.876 69.9515,66.8925 69.1465,68.0985 C68.3405,69.3045 67.32,70.7065 66.0845,72.3035 C67.0355,72.414 67.933,72.55 68.777,72.713 C69.62,72.8755 70.335,73.016 70.925,73.134 C71.6335,73.294 72.275,73.453 72.8505,73.611 C73.4245,73.7695 73.9845,73.968 74.532,74.206 C74.9985,74.416 75.497,74.66 76.0305,74.939 C76.5625,75.2185 77.041,75.5225 77.465,75.8525 C77.03,74.5245 76.7565,73.2535 76.643,72.0375 C76.529,70.8225 76.493,69.7705 76.535,68.8815 C76.593,67.8175 76.71,66.842 76.8865,65.955 C77.13,65.0025 77.5655,63.8905 78.191,62.6205 C78.68,61.4835 79.378,60.1035 80.285,58.4805 C81.0565,57.1005 82.045,55.499 83.2475,53.6815 C83.92,54.3575 84.43,55.0145 84.775,55.6525 C84.993,56.085 85.1535,56.4865 85.2555,56.8535 C85.316,57.213 85.312,57.787 85.246,58.577 C85.179,59.368 85.082,60.2605 84.954,61.256 C84.8255,62.251 84.676,63.243 84.507,64.2295 C84.337,65.2175 84.204,66.0705 84.1085,66.7895 C83.9945,67.376 83.815,68.0785 83.57,68.8985 C83.3475,69.5945 83.0615,70.4605 82.709,71.499 C82.3555,72.537 81.8995,73.718 81.341,75.042 C82.166,75.2465 82.8895,75.421 83.5105,75.5635 C84.1315,75.707 84.65,75.8185 85.067,75.9 C85.517,76.0315 85.93,76.134 86.305,76.207 C86.63,76.3145 86.997,76.4295 87.406,76.552 C87.731,76.6595 88.142,76.7725 88.638,76.8905 C89.134,77.01 89.665,77.168 90.233,77.365 C90.101,74.4735 90.3195,72.009 90.8875,69.9705 C91.455,67.9315 92.102,66.267 92.829,64.976 C93.645,63.4425 94.6005,62.196 95.6945,61.2375 C97.12,60.1265 98.3925,59.42 99.511,59.117 C100.629,58.8145 101.5965,58.7865 102.415,59.0325 C103.231,59.2805 103.914,59.717 104.4635,60.3445 C105.0115,60.9735 105.4565,61.69 105.7985,62.495 C106.139,63.3 106.383,64.107 106.529,64.917 C106.674,65.7265 106.7575,66.417 106.777,66.9845 C106.802,68.64 106.612,70.2315 106.2085,71.759 C105.804,73.286 105.2345,74.6085 104.4995,75.723 C104.3665,75.958 104.1725,76.2895 103.9175,76.717 C103.6775,77.0605 103.384,77.5145 103.038,78.0755 C102.6905,78.6375 102.245,79.3215 101.6995,80.126 C104.2655,80.497 106.153,80.801 107.362,81.037 C108.07,81.176 108.6285,81.3065 109.0375,81.4295 C109.4045,81.545 109.8125,81.6685 110.2635,81.8 C110.6305,81.915 111.04,82.0275 111.4955,82.1375 C111.949,82.249 112.401,82.369 112.852,82.501 C112.5585,82.2265 112.32,81.898 112.1355,81.5135 C111.95,81.131 111.8055,80.7555 111.705,80.3875 C111.611,79.9785 111.5165,79.5695 111.4235,79.16 C111.2485,77.6065 111.418,76.228 111.933,75.0265 C112.447,73.824 113.025,72.624 113.669,71.425' id='Fill-8' fill='%23CF1717' mask='url(%23mask-2)'%3E%3C/path%3E%3Cpath d='M179.0025,67.2145 C178.5275,65.573 177.521,64.1415 175.9845,62.9205 C174.4475,61.7005 172.6635,60.6405 170.63,59.7425 C168.597,58.845 166.4305,58.084 164.1305,57.461 C161.8295,56.838 159.6865,56.29 157.6995,55.818 C155.713,55.3465 154.016,54.911 152.6085,54.5115 C151.201,54.114 150.341,53.6855 150.0285,53.229 C149.6655,52.74 149.419,52.084 149.2895,51.2615 C149.1595,50.44 149.3045,49.582 149.725,48.6865 C150.1435,47.7925 150.9225,46.908 152.063,46.035 C153.2025,45.1625 154.881,44.425 157.0985,43.824 C158.8185,43.548 160.535,43.6625 162.2475,44.171 C162.9905,44.406 163.765,44.7315 164.568,45.149 C165.3725,45.5675 166.1775,46.1475 166.985,46.8915 C167.792,47.635 168.588,48.534 169.374,49.587 C170.1585,50.6405 170.9015,51.8995 171.5995,53.3625 C171.9705,51.411 172.2735,49.8115 172.5105,48.5625 C172.747,47.3155 172.9565,46.302 173.14,45.5215 C173.306,44.6595 173.444,43.9765 173.5555,43.4735 C173.6735,42.795 173.8355,42.0205 174.043,41.1485 C174.2265,40.3695 174.4405,39.4305 174.6875,38.333 C174.9345,37.2355 175.208,35.958 175.5095,34.5 C174.569,35.3965 173.561,36.121 172.4845,36.6765 C171.408,37.2315 170.4005,37.652 169.463,37.9375 C168.4085,38.291 167.3335,38.5415 166.236,38.6865 C165.9785,38.698 165.325,38.7385 164.2765,38.8075 C163.228,38.878 161.959,38.983 160.4705,39.124 C158.9805,39.2655 157.3205,39.465 155.487,39.7225 C153.6545,39.9805 151.819,40.3365 149.9845,40.791 C148.149,41.245 146.3835,41.826 144.6885,42.5335 C142.993,43.242 141.5015,44.091 140.2125,45.083 C138.9245,46.075 137.934,47.243 137.24,48.588 C136.5465,49.9335 136.2965,51.478 136.49,53.2225 C136.7035,55.2685 137.406,56.9065 138.5965,58.135 C139.1545,58.7105 139.775,59.2285 140.453,59.6935 C139.969,59.713 139.5415,59.7235 139.172,59.7245 C138.663,59.7685 138.067,59.7695 137.389,59.728 C136.7935,59.687 136.0835,59.6455 135.255,59.604 C134.4275,59.564 133.4605,59.4795 132.357,59.3545 C133.1225,59.7795 133.696,60.1615 134.079,60.501 C134.4615,60.843 134.7585,61.1395 134.9725,61.3945 C135.142,61.6935 135.249,61.9695 135.292,62.2255 C135.123,62.5675 134.5935,63.1435 133.7035,63.9545 C132.9405,64.6815 131.7325,65.717 130.08,67.0625 C128.4265,68.408 126.074,70.1935 123.0215,72.415 C123.0595,70.4965 123.099,68.792 123.139,67.3 C123.1775,65.8085 123.218,64.551 123.259,63.5275 C123.2985,62.335 123.339,61.2685 123.38,60.3305 C123.4195,59.2225 123.619,57.88 123.977,56.302 C124.334,54.7245 124.756,53.1675 125.2415,51.632 C125.7265,50.0965 126.212,48.7 126.698,47.4415 C127.1835,46.184 127.575,45.298 127.871,44.786 C128.0825,44.4025 128.357,44.018 128.697,43.634 C128.9925,43.2925 129.353,42.951 129.777,42.609 C130.2005,42.267 130.709,41.9465 131.304,41.647 C129.69,41.864 128.2265,42.036 126.911,42.167 C125.5945,42.297 124.4915,42.4065 123.6,42.493 C122.4955,42.623 121.5625,42.711 120.7985,42.754 C120.0345,42.799 119.2915,42.8215 118.57,42.8225 C117.9745,42.8235 117.349,42.783 116.691,42.698 C116.032,42.6145 115.4695,42.467 115.0025,42.254 C115.6415,43.2755 116.1845,44.2235 116.632,45.0955 C117.0795,45.969 117.431,46.7465 117.6875,47.4275 C117.9855,48.1945 118.2415,48.919 118.4555,49.5995 C118.584,50.154 118.671,51.3795 118.7175,53.2755 C118.763,55.172 118.789,57.3885 118.794,59.924 C118.799,62.4605 118.7725,65.1565 118.7145,68.0115 C118.6565,70.868 118.587,73.542 118.5075,76.0355 C118.4265,78.5295 118.335,80.671 118.233,82.4615 C118.13,84.252 118.0365,85.361 117.953,85.7865 C117.784,86.2985 117.594,86.7895 117.3825,87.2585 C117.1705,87.685 116.896,88.144 116.5575,88.6345 C116.2185,89.1245 115.773,89.563 115.223,89.9475 C116.1985,89.732 117.0685,89.5495 117.833,89.3995 C118.5965,89.248 119.254,89.13 119.806,89.044 C120.4425,88.914 120.9935,88.827 121.461,88.784 C121.928,88.7405 122.3945,88.655 122.862,88.5265 C123.2435,88.4395 123.657,88.333 124.103,88.204 C124.5485,88.075 124.962,87.926 125.344,87.754 L123.603,76.5695 C124.45,75.886 125.1285,75.3625 125.637,74.999 C126.146,74.636 126.5275,74.3475 126.782,74.134 C127.0785,73.92 127.291,73.792 127.418,73.7485 C130.014,77.4095 132.016,80.3035 133.421,82.4315 C134.8265,84.5605 135.89,86.178 136.615,87.284 C137.381,88.6035 137.871,89.4765 138.084,89.903 C138.1265,90.2 138.0635,90.5635 137.8955,90.99 C137.726,91.331 137.44,91.768 137.038,92.302 C136.6355,92.836 136.0315,93.4015 135.2265,94 C136.4995,93.4005 137.6765,92.9185 138.7585,92.5545 C139.8395,92.1905 140.7835,91.9005 141.59,91.686 C142.523,91.4285 143.3725,91.213 144.1365,91.042 C144.8575,90.9125 145.664,90.825 146.5555,90.7815 C147.277,90.7375 148.1475,90.746 149.1665,90.808 C150.1855,90.87 151.2465,91.006 152.352,91.2175 C150.184,89.985 148.345,88.8915 146.8365,87.9355 C145.328,86.9795 144.105,86.141 143.17,85.4175 C142.064,84.6105 141.171,83.8865 140.491,83.249 C139.8105,82.5695 139.0235,81.654 138.1295,80.5045 C137.3635,79.526 136.416,78.249 135.2885,76.6745 C134.16,75.1 132.8505,73.0985 131.36,70.6725 C132.208,69.9035 133.0655,69.1775 133.935,68.493 C134.803,67.8105 135.5775,67.212 136.2555,66.698 C137.0195,66.1005 137.76,65.5245 138.481,64.9685 C139.202,64.4555 140.0285,63.9005 140.9615,63.301 C141.8225,62.745 142.8455,62.1305 144.0275,61.458 C145.47,61.9725 147.0085,62.3565 148.6475,62.604 C150.687,62.913 152.667,63.147 154.588,63.3055 C156.5085,63.465 158.2545,63.6175 159.826,63.7635 C161.3965,63.9105 162.587,64.158 163.3995,64.5095 C164.3195,64.968 165.1695,65.6045 165.949,66.419 C166.7275,67.2345 167.363,68.1455 167.8575,69.1515 C168.351,70.1575 168.6695,71.212 168.8145,72.3135 C168.959,73.416 168.8895,74.4765 168.605,75.494 C168.32,76.5135 167.784,77.4225 166.998,78.2195 C166.2105,79.0185 165.104,79.634 163.6765,80.0675 C162.5305,80.3975 161.3605,80.4065 160.167,80.0925 C158.973,79.78 157.8855,79.302 156.9045,78.66 C155.9235,78.018 155.112,77.308 154.4715,76.5295 C153.83,75.75 153.4895,75.0605 153.4505,74.4585 C153.4615,73.8905 153.566,73.258 153.7675,72.5615 C153.944,71.959 154.239,71.243 154.65,70.4145 C155.0625,69.587 155.6995,68.6465 156.5625,67.592 L139.049,74.374 C139.4085,74.428 139.769,74.494 140.1315,74.5695 C140.4955,74.645 140.8395,74.7355 141.165,74.8405 C141.533,74.937 141.9035,75.054 142.2805,75.192 C142.605,75.298 142.9165,75.743 143.212,76.5305 C143.508,77.3165 143.9375,78.2285 144.5025,79.262 C145.067,80.297 145.8395,81.3425 146.821,82.3975 C147.802,83.4535 149.1555,84.3205 150.883,85 C152.609,85.6795 154.759,86.052 157.3335,86.116 C159.907,86.18 163.0855,85.7235 166.8735,84.748 C170.535,83.797 173.3405,82.746 175.2895,81.5925 C177.237,80.4395 178.5835,79.1525 179.3265,77.731 C180.069,76.3105 180.3435,74.7285 180.15,72.9825 C179.9565,71.238 179.574,69.3145 179.0025,67.2145' id='Fill-10' fill='%23CF1717' mask='url(%23mask-2)'%3E%3C/path%3E%3Cpath d='M207.375,57.4225 C207.287,58.3835 206.8645,59.256 206.1065,60.039 C205.3485,60.823 204.0225,61.4995 202.1305,62.067 C200.238,62.6355 198.5745,62.9175 197.141,62.914 C195.707,62.911 194.5015,62.693 193.523,62.2605 C192.5455,61.8295 191.7795,61.2265 191.228,60.4505 C190.675,59.677 190.3245,58.782 190.1765,57.7675 C190.045,56.793 190.086,55.6075 190.2975,54.21 C190.5085,52.8135 190.8765,51.425 191.401,50.045 C191.9245,48.665 192.6185,47.3935 193.4795,46.2305 C194.341,45.0685 195.3665,44.204 196.557,43.6395 C197.0555,43.403 197.7815,43.424 198.7345,43.702 C199.687,43.982 200.6595,44.4505 201.6515,45.1115 C202.643,45.7725 203.56,46.599 204.4025,47.59 C205.2445,48.581 205.805,49.671 206.082,50.8585 C206.378,52.0865 206.6885,53.247 207.016,54.34 C207.343,55.4345 207.4625,56.462 207.375,57.4225 Z M214.0245,45.96 C213.3835,44.8495 212.7655,44.0585 212.1685,43.588 C211.272,42.881 210.204,42.257 208.962,41.714 C207.721,41.172 206.381,40.771 204.944,40.5095 C203.506,40.249 201.9945,40.153 200.407,40.222 C198.8195,40.292 197.23,40.633 195.641,41.245 C194.3755,41.7515 193.0485,42.5225 191.659,43.5585 C190.4805,44.448 189.172,45.6345 187.734,47.117 C186.2955,48.6015 184.8495,50.49 183.393,52.783 C183.0525,51.8605 182.809,51.0925 182.6605,50.479 C182.513,49.866 182.404,49.3875 182.336,49.042 C182.2705,48.6025 182.2495,48.259 182.2735,48.0105 C182.2985,47.7635 182.3325,47.488 182.3775,47.1835 C182.44,46.919 182.4905,46.5995 182.527,46.2285 C182.5635,45.858 182.6445,45.407 182.771,44.876 C181.723,45.8445 180.8475,46.626 180.1405,47.2195 C179.4345,47.8145 178.8675,48.3075 178.4415,48.6975 C177.938,49.125 177.551,49.45 177.28,49.6725 C177.009,49.896 176.6135,50.201 176.092,50.5895 C175.629,50.9045 175.036,51.315 174.3125,51.8225 C173.5895,52.331 172.659,52.9725 171.521,53.7475 C172.7035,53.565 173.674,53.458 174.4345,53.427 C175.194,53.3965 175.811,53.4345 176.283,53.539 C176.851,53.6485 177.2745,53.801 177.555,53.997 C177.779,54.1735 178.236,54.9465 178.9275,56.3155 C179.6185,57.6845 180.422,59.366 181.3365,61.36 C182.2515,63.3545 183.225,65.52 184.2555,67.8595 C185.2865,70.199 186.257,72.4375 187.1685,74.5735 C188.081,76.711 188.864,78.601 189.5215,80.246 C190.178,81.8905 190.623,83.0115 190.857,83.6075 C191.0505,84.3175 191.2235,85.0355 191.379,85.764 C191.479,86.376 191.5545,87.0595 191.604,87.814 C191.6535,88.5685 191.585,89.296 191.399,89.997 C192.0195,89.42 192.644,88.8765 193.2725,88.366 C193.901,87.8555 194.4565,87.4155 194.9395,87.045 C195.52,86.581 196.051,86.164 196.5345,85.7935 C197.074,85.443 197.5555,85.12 197.98,84.824 C198.3655,84.547 198.765,84.3225 199.177,84.1505 C199.5895,83.9785 199.9285,83.876 200.1955,83.8445 C199.093,82.9995 198.1195,82.1535 197.2745,81.3055 C196.4285,80.4575 195.729,79.6935 195.1745,79.0135 C194.527,78.2365 193.9835,77.4805 193.544,76.7465 C193.1435,75.9945 192.699,75.051 192.2115,73.914 C191.796,72.9335 191.315,71.6875 190.7705,70.1785 C190.224,68.67 189.642,66.86 189.024,64.7485 C190.653,65.8145 192.246,66.5555 193.804,66.9715 C195.361,67.3885 196.8625,67.56 198.3075,67.4865 C199.752,67.4145 201.116,67.169 202.397,66.749 C203.679,66.33 204.8775,65.8085 205.9925,65.1845 C208.6065,63.757 210.9865,61.7795 213.1315,59.2525 C214.3605,57.7745 215.1125,56.2035 215.3865,54.541 C215.6615,52.88 215.663,51.3115 215.391,49.837 C215.1205,48.3635 214.664,47.0705 214.0245,45.96 Z' id='Fill-11' fill='%23CF1717' mask='url(%23mask-2)'%3E%3C/path%3E%3Cpath d='M253.319,48.9275 C253.2255,47.346 252.9195,45.925 252.402,44.663 C252.011,43.785 250.954,42.157 249.2305,39.779 C248.492,38.7905 247.5815,37.5715 246.498,36.122 C245.4165,34.673 244.104,32.9705 242.5625,31.014 C241.021,29.058 239.2255,26.8145 237.1745,24.282 C235.124,21.751 232.782,18.866 230.1495,15.6265 C229.4195,16.2835 228.759,16.873 228.1695,17.3975 C227.5795,17.922 227.063,18.3505 226.622,18.6825 C226.139,19.1005 225.6965,19.4335 225.298,19.68 C224.865,19.953 224.3635,20.2775 223.7945,20.652 C223.294,20.977 222.708,21.3645 222.0375,21.8155 C221.367,22.2685 220.564,22.7925 219.63,23.3885 C222.2115,24.429 224.343,25.754 226.024,27.3645 C227.7055,28.9755 229.0725,30.5575 230.1255,32.1085 C231.3225,33.924 232.253,35.8085 232.9155,37.76 C233.145,38.493 233.276,39.38 233.3105,40.4195 C233.3445,41.46 233.115,42.432 232.6225,43.3345 C232.13,44.2395 231.281,44.9315 230.0755,45.4125 C228.87,45.8945 227.1245,45.9565 224.8405,45.5985 C223.7465,45.4115 222.6735,44.9005 221.625,44.0645 C220.576,43.2295 219.604,42.23 218.7085,41.066 C217.8115,39.9035 216.9885,38.658 216.237,37.3325 C215.486,36.008 214.8355,34.7645 214.2885,33.6055 C213.741,32.447 213.3075,31.4405 212.989,30.588 C212.671,29.736 212.4945,29.2165 212.46,29.0285 C211.4835,29.9235 210.6325,30.684 209.9065,31.3105 C209.181,31.9375 208.593,32.4475 208.143,32.839 C207.591,33.3085 207.128,33.6825 206.7545,33.964 C206.3475,34.271 205.91,34.574 205.4425,34.872 C205.01,35.145 204.511,35.454 203.9465,35.799 C203.382,36.144 202.7225,36.5215 201.966,36.9305 C203.0025,36.8965 203.9645,36.958 204.8515,37.116 C205.7385,37.2745 206.483,37.4725 207.086,37.7105 C207.8075,37.967 208.4615,38.273 209.0475,38.631 C209.5995,39.0145 210.1875,39.624 210.812,40.459 C211.4365,41.295 212.1215,42.2305 212.8685,43.2655 C213.6155,44.302 214.429,45.407 215.308,46.584 C216.187,47.76 217.1615,48.8515 218.2305,49.8565 C219.301,50.8635 220.4155,51.662 221.575,52.2545 C222.734,52.847 223.976,53.177 225.3,53.245 C226.625,53.3135 228.062,53.0705 229.611,52.5155 C231.1605,51.962 232.844,51.0535 234.661,49.792 C235.9605,48.7605 236.992,47.4775 237.7555,45.943 C238.426,44.639 238.867,43.028 239.08,41.1095 C239.2915,39.192 238.914,36.946 237.9455,34.371 C241.02,37.704 243.2485,40.581 244.633,43.0015 C246.0165,45.4225 246.9295,47.426 247.372,49.0105 C247.8635,50.878 247.9275,52.455 247.563,53.742 C247.104,55.259 246.514,56.37 245.793,57.073 C245.0705,57.7765 244.3125,58.2 243.5195,58.3455 C242.7245,58.49 241.9655,58.449 241.2395,58.2235 C240.5135,57.998 239.9295,57.7325 239.4885,57.425 C239.2675,57.272 239.0595,57.029 238.864,56.6965 C238.7195,56.432 238.5875,56.078 238.4695,55.635 C238.35,55.1915 238.2915,54.6505 238.2915,54.0105 L227.899,62.796 C228.4335,62.6595 229.0145,62.568 229.6435,62.5215 C230.2715,62.474 230.8745,62.4465 231.452,62.4375 C232.089,62.4375 232.7085,62.451 233.312,62.4765 C233.821,62.5185 234.2665,62.6885 234.649,62.9875 C235.031,63.2855 235.432,63.6095 235.853,63.959 C236.2725,64.3085 236.746,64.6055 237.273,64.8475 C237.799,65.091 238.465,65.201 239.2725,65.18 C240.0785,65.158 241.057,64.9415 242.2085,64.528 C243.3575,64.114 244.782,63.375 246.481,62.309 C248.2125,61.2175 249.595,59.924 250.6265,58.4275 C251.658,56.9315 252.3875,55.37 252.8165,53.7415 C253.2445,52.1135 253.4125,50.5085 253.319,48.9275' id='Fill-12' fill='%23CF1717' mask='url(%23mask-2)'%3E%3C/path%3E%3C/g%3E%3Cg id='symbol' transform='translate(33.000000, 0.000000)'%3E%3Cpolyline id='Fill-1' fill='%23CF1717' points='92.8305 84.126 97.116 92.812 106.701 94.1935 99.767 100.9525 101.389 110.5085 92.8305 106.0005 84.2645 110.5085 85.8965 100.9525 78.9585 94.1935 88.5475 92.812 92.8305 84.126'%3E%3C/polyline%3E%3Cpath d='M149.424,149.3615 C134.069,164.716 113.6885,173.092 92.1915,173.092 C70.695,173.092 50.315,164.716 34.9595,149.3615 C3.4125,117.814 3.4125,66.445 34.9595,34.897 C50.315,19.5425 70.695,11.1675 92.1915,11.1675 C113.6885,11.1675 134.069,19.5425 149.424,34.897 C180.9715,66.445 180.9715,117.814 149.424,149.3615 Z M214.245,156.359 L183.5595,137.996 C182.573,137.305 181.315,137.527 180.8345,138.4765 C180.3535,139.4255 179.0955,139.647 178.1095,138.957 L173.1125,135.982 C192.102,101.091 186.8115,56.651 157.2405,27.0805 C139.3735,8.934 115.643,0 92.1915,0 C68.7405,0 45.0105,8.934 27.143,27.0805 C-8.8715,63.0945 -8.8715,121.4435 27.143,157.457 C45.0105,175.325 68.7405,184.259 92.1915,184.259 C115.643,184.259 139.3735,175.325 157.2405,157.1785 C161.3,153.1185 164.9005,148.7785 168.0445,144.2215 L173.325,147.3645 C174.311,148.0555 174.7425,149.276 174.224,150.0155 C173.7435,150.965 174.1745,152.186 175.1235,152.667 L205.81,171.03 C206.795,171.7205 208.053,171.4985 208.5345,170.549 L214.8975,158.837 C215.6625,158.2695 215.1945,156.84 214.245,156.359 Z' id='Fill-2' fill='%23000000'%3E%3C/path%3E%3Cmask id='mask-4' fill='white'%3E%3Cuse xlink:href='%23path-3'%3E%3C/use%3E%3C/mask%3E%3Cg id='Clip-4'%3E%3C/g%3E%3Cpath d='M110.7515,143.7855 C110.7515,149.407 108.7455,151.4965 103.3495,151.4965 L82.103,151.4965 C76.7065,151.4965 74.701,149.407 74.701,143.7855 L74.701,92.7955 C74.701,88.4235 80.893,82.3065 84.797,79.478 C85.5725,78.9145 86.034,78.0135 86.034,77.0565 L86.034,45.248 C86.061,45.249 86.0875,45.251 86.1145,45.251 L99.417,45.251 L99.417,77.055 C99.417,78.015 99.8775,78.916 100.6555,79.478 C103.275,81.368 110.7515,87.874 110.7515,92.794 L110.7515,143.7855 Z M99.417,30.6315 L99.417,41.7955 L86.1145,41.7955 C86.0875,41.7955 86.061,41.7975 86.034,41.7985 L86.034,30.6315 L99.417,30.6315 Z M105.3915,75.578 L105.3915,27.645 C105.3915,25.996 104.053,24.6575 102.4045,24.6575 L83.0465,24.6575 C81.398,24.6575 80.06,25.996 80.06,27.645 L80.06,75.578 C76.786,78.1765 68.727,85.3335 68.727,92.794 L68.727,143.784 C68.727,155.0945 76.0015,157.469 82.103,157.469 L103.3495,157.469 C109.452,157.469 116.726,155.0945 116.726,143.784 L116.726,92.794 C116.726,85.3335 108.665,78.1765 105.3915,75.578 Z' id='Fill-3' fill='%23000000' mask='url(%23mask-4)'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.logo-inline {
	width: 50px;
	height: 50px;
}

@media (min-width: 768px) {

	.logo {
		margin: 0;
		left: auto;
		top: -15px;
		width: 90px;
		height: 90px;
	}

}

@media (min-width: 990px) {

	.logo {
		top: -15px;
		width: 100px;
		height: 100px;
	}

}

@media (min-width: 1200px) {

	.logo {
		top: -25px;
		width: 120px;
		height: 120px;
	}

}

.mobile-sidebar-logo {
	width: 60px;
}

.header-search .custom-select {
	border-color: transparent;
}

// Menu toggle button

.btn-menu-toggle {
	margin: 0;
	padding: 10px !important;
	float: right;
	background: transparent;
	border: 0;

	div {
		position: relative;
		width: 20px;
		height: 20px;
	}
	
	// hamburger icon
	&.menu {
		margin-top: 8px;
		margin-right: -22px;

		.menu-line {
			background-color: $white;
		}
		.menu-line:nth-last-of-type(1) { top: 0; }
		.menu-line:nth-last-of-type(2) { top: 8px; }
		.menu-line:nth-last-of-type(3) { top: 16px; }
	}

	// cross icon
	&.close {
		margin-top: -8px;
		margin-right: -6px;

		.menu-line {
			background-color: $brand-secondary;
		}
		.menu-line:nth-last-of-type(1) { transform: rotate(45deg); }
		.menu-line:nth-last-of-type(2) { display: none; }
		.menu-line:nth-last-of-type(3) { transform: rotate(-45deg); }
	}
}

.menu-line {
	position: absolute;
	left: 0; top: 9px;
	height: 2px;
	width: 20px;
}

.lps-header .lips-btn-secondary {
	padding: 0.25rem 0.5rem;
}

// Footer
// =============================================

.lps-footer {
	padding: 2rem 0;
	background-color: $shade-1;
	
	.footer-info-title {
		margin-bottom: 1rem;
		font-weight: $font-weight-normal;
		font-size: 18px;
	}
	
	li {
		margin-bottom: 0.5rem;
	}

	a {
		color: $gray-500;
		&:hover {
			color: $gray-300;
			text-decoration: none;
		}
	}
}

.list-social {

	.list-inline-item:not(:last-child) {
		margin-right: 0.5rem;
	}
}

// Global Sections
// =============================================
// UI consists of three main sections.


// Main content

.lps-content {
	margin: 3rem 0;
}

@media (min-width: 1200px) {

	.lps-content {
		margin: 5rem 0;
	}

}

.lps-content-home {
	margin-top: 0;
}

// Sidebar content

.sidebar-title {
	color: rgba($shade-2, 0.6);
	font-size: 1.25rem;
	font-weight: $font-weight-normal;
}

.contact-details {
	margin-top: 40px;
}

@media only screen and (min-width: 768px) {
	
	.contact-details {
		margin-top: 0;
	}
}


// Hero Sections
// =============================================

.hero-section {
	position: relative;
	display: inline-block;
	max-width: 80%;
}

// h1, h2 content

.hero-title {
	display: inline-block;
	font-size: 32px;
	font-weight: $font-weight-600;
	line-height: 1.4;
}

// h4

.hero-title-section {
	font-size: 1.75rem;
	line-height: 1.5;
}

// p content

.hero-subtitle {
	margin: auto;
	font-size: 20px;
	line-height: 30px;
}

// hero background image

.hero-image {
	position: relative;
	padding: 5rem 0;
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	// overlay shadow
	&::before {
		position: absolute;
		top: 0; left: 0; bottom: 0; right: 0;
		content: "";
		width: 100%;
		height: 100%;
		background-image: linear-gradient(rgba($shade-1, 0.6), rgba($shade-1, 0.9));
	}

	&.hero-image--home {
		background-image: url(../img/drinkspy-hero-home-mobile.jpg);
	}
	&.hero-image--about {
		background-image: url(../img/drinkspy-hero-about-mobile.jpg);
	}
	&.hero-image--sell {
		background-image: url(../img/drinkspy-hero-sell-mobile.jpg);
	}
	&.hero-image--join {
		background-image: url(../img/drinkspy-hero-join-mobile.jpg);
	}

}

// hero background highlights

.section-highlight {
	background-color: rgba($highlight, 0.2);
}

@media only screen and (min-width: 768px) {
	
	.hero-title {
		font-size: 38px;
	}

	.hero-image {
		padding: 10rem 0;

		&.hero-image--home {
			background-image: url(../img/drinkspy-hero-home.jpg);
		}
		&.hero-image--about {
			background-image: url(../img/drinkspy-hero-about.jpg);
		}
		&.hero-image--sell {
			background-image: url(../img/drinkspy-hero-sell.jpg);
		}
		&.hero-image--join {
			background-image: url(../img/drinkspy-hero-join.jpg);
		}

	}

}

@media only screen and (min-width: 1024px) {

	.hero-section {
		max-width: 700px;
	}

}

// Hero Sections

.section-features {
	margin-bottom: 4rem;
	padding: 4rem 0;
}

.section-features-pull-top {
	margin-top: -5rem;
}

.section-bg-grey {
	background-color: $gray-200;
}

.section-price-search {
	padding: 120px 0;
	background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0 280px;
}

// Hero Icons

.icon-xl {
	font-size: 160px;
}

.icon-primary {
	color: $brand-primary;
}

.icon-with-text {
	display: flex;
	align-items: center;

	.lips-icon {
		color: $brand-primary;
	}

	.label {
		font-family: $font-family-sans-serif !important;
		font-weight: $font-weight-600;
		text-transform: uppercase;
	}
}

.lips-feature-row {

	.lips-feature-row-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10% 8% 0;
    margin-bottom: 2rem;
	}

	.lips-feature-row-item:hover {
		.lips-icon {
			// animation
			animation: bounce 0.3s;
			animation-direction: alternate;
			animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
			animation-iteration-count: 2;
		}
	}

	@keyframes bounce {
  	from { transform: translate3d(0, 0, 0); }
  	to   { transform: translate3d(0, -5px, 0); }
	}

	.lips-icon {
		font-size: 40px;
	}

	.label {
		padding-left: 1rem;
		color: $brand-primary;
		font-size: 24px;
	}

	p {
		margin-top: 10px;
		font-size: 1.1rem;
		text-align: center;
	}
}


// Callout Features
// =============================================

.callout-title {
	font-size: 20px;
	font-weight: $font-weight-500;
	line-height: 30px;
}

.callout-text {
	font-size: 17px;
	line-height: 25px;
}


// Home page promotions
// =============================================

.promo-item {
	justify-content: space-between;
	padding-bottom: 1.25rem;
	min-height: 490px;
	@include transition(border-color 0.15s ease-in-out);

	.card-body {
		flex: inherit;
		padding-bottom: 0;
	}

	&:hover {
		border-color: $brand-primary;
	}

	&:hover .promo-savings {
		background-color: $brand-primary;
		border-radius: $radius/2 $radius/2 0 0;
	}
}

.promo-savings {
	padding: 10px;
	color: $white;
	background-color: $shade-1;
	border-radius: $radius $radius 0 0;
	flex-basis: 100%;
}

.promo-img {
	padding: 1.25rem;
	img {
		max-width: 140px;
	}
}

.promo-title {
	margin-bottom: 0.25rem;
	font-size: 1rem;
}

.promo-details {

	p {
		color: $shade-2;
		font-size: 0.9rem;
	}

	.promo-item-highlight {
		margin: 0;
		color: rgba($shade-2, 0.6);
	}
}

// Card actions

.promo-footer {
	display: table;
	margin-bottom: 1rem;
	width: 100%;

	.price-initial {
		padding-right: 10px;
	}
}

.price-initial {
	text-decoration: line-through;
}

.promo-price {
	color: $brand-primary;
	font-size: 1.25rem;
}

// Search Results
// =============================================

// main search wrapper

.search-result {
	display: flex;
	flex-wrap: wrap;
	margin-left: -20px;
	margin-right: -20px;
}

// search row item

.search-row {
	display: flex;
	flex-wrap: wrap;
	padding: 20px;
	width: 100%;
	border-bottom: 1px solid $card-border-color;

	&:first-of-type {
		border-top: 1px solid $card-border-color;
	}

}

.search-row-item {
	flex-basis: 60%;

	.item-title {
		font-weight: $font-weight-500;
	}

	.item-cta {
		display: none;
		@extend .text-muted;
		font-size: 0.875rem;
		// font-weight: $font-weight-thin;
	}

}

.cta-expiry {
	color: $brand-primary;
}

.search-row-price {
	flex-basis: 40%;
	text-align: right;

	.price-title {
		color: $brand-primary;
		font-size: 1.75rem;
		font-weight: $font-weight-500;
		small {
			display: block;
			margin-top: -8px;
			font-size: 50%;
		}
	}
}

.search-row-unit-price {
	display: flex;
	justify-content: space-between;
	margin-top: 0.5em;
	width: 100%;
	font-size: 0.875rem;
	.unit-price-title {
		font-weight: $font-weight-600;
	}
}

.search-row-retailer {
	display: flex;
	justify-content: space-between;
	margin-top: 0.5em;
	width: 100%;
	font-size: 0.875rem;
	.retailer-title {
		font-weight: $font-weight-500;
		a {
			color: $brand-secondary;
		}
	}
}

.search-row-cta {
	flex-basis: 100%;

	.cta-info {
    display: block;
		margin-top: 0.75em;
		@extend .text-muted;
		font-size: 0.875rem;
		// font-weight: $font-weight-thin;
	}

	.cta-info-expiry {
		color: $brand-primary;
	}

	.btn {
		display: block;
		margin-top: 1em;
	}
}

.bullet-spacer {
	padding: 0 0.15em;
	@extend .text-muted;
}

@media only screen and (max-width: 480px) {
	.search-row-retailer {
		& > * {
			width: 50%;
		}
		.retailer-info {
			text-align: right;
		}
	}
}

@media only screen and (min-width: 600px) {

	.search-row-price {
		.price-title {
			line-height: 1;
		}
		.price-title small {
			display: inline-block;
			margin: 0;
		}
	}

}

@media only screen and (min-width: 900px) {

	.search-result {
		margin: 0;
	}

	.search-row {
		flex-wrap: nowrap;
		padding: 20px 0;
	}

	.search-row-item {
		flex-basis: 35%;
		padding-right: 50px;
		.item-cta {
			display: block;
		}
	}

	.search-row-price {
		flex-basis: 18%;
		padding-right: 10px;
		text-align: left;
	}

	.search-row-unit-price {
		flex-basis: 12%;
		flex-direction: column;
		justify-content: normal;
		margin: 0;
	}

	.search-row-retailer {
		flex-basis: 24%;
		flex-direction: column;
		justify-content: normal;
		margin: 0;
	}

	.search-row-cta {
		display: flex;
		flex-direction: column;
		flex-basis: auto;
		margin-left: auto;

		.cta-info {
			display: none;
		}

		.btn {
			margin: 0;
		}

	}

}

// Content
// =============================================

.lps-table-cart {

	thead {
		th {
			padding-top: 0.25rem;
			color: $text-muted;
			font-size: 0.875rem;
			letter-spacing: 0.05rem;
			text-transform: uppercase;
			border-width: 0 0 2px;
		}
	}
}

// Cart - product row

.cart-item-title {
	line-height: 1.3;
}

.cart-input-qty {
	padding: 0;
	width: 40px;
	text-align: center;
}

// Cart - cost summary

.cart-summary-title {
	margin-bottom: 24px;
	color: $brand-primary;
}

.cart-summary-total {
	margin: 1rem 0;
	padding: 20px;
	background-color: lighten($brand-primary, 45);

	p {
		margin-bottom: 0;
		font-size: 18px;
		font-weight: $font-weight-600;
		line-height: 1;
	}

}

// Cart - form details

.form-hint-inline {
	margin-left: 0.25rem;
}

.form-check-inline {
	margin-right: 1rem;
	
	.form-check-input {
		position: static;
		margin-top: 0;
		margin-right: 0.5rem;
		margin-left: 0;
	}

	.form-check-label {
		padding: 0;
	}

}

.cart-form-details-payment {
	padding: 1.5rem;
	background-color: $gray-100;
}


// Components
// =============================================

// Forms

label {
	font-weight: $font-weight-600;
}

.form {
	padding: 20px;
	background-color: $gray-200;

	h2 {
		margin-bottom: 32px;
		font-size: 1.25rem;
		font-weight: $font-weight-normal;
	}

	h6 {
		margin-top: 1.75rem;
		margin-bottom: 1rem;
	}

	.form-summary {
		margin-bottom: 0;
		padding-top: 1rem;
	}
}

.form-check-terms {
	padding-left: 1.25rem;
}

.form-check-label {
	padding-left: 6px;
}

.has-error {
	padding-left: 1rem;
	border-left: 4px solid $brand-primary;

	input {
		border-color: $brand-primary;
	}

	// display errors messages on validation check
	.invalid-feedback {
		display: block;
		margin-top: 0.5rem;
		font-weight: $font-weight-600;
		line-height: 1;
	}

}

@media only screen and (min-width: 768px) {

	.form {
		padding: 40px;
	}

}

// Buttons

.btn {
	font-weight: $font-weight-500;
	text-transform: uppercase;
}

.btn-block {
	padding-left: 0;
	padding-right: 0;
}

.lips-btn {
	color: $white;
	cursor: pointer;
}

.lips-btn-primary {
	@include button-theme($lips-btn-primary);
}

.lips-btn-secondary {
	@include button-theme($lips-btn-secondary);
}

// Blockquotes

.blockquote-testimonial {
	padding: 2rem 0;
	border: solid $gray-300;
	border-width: 1px 0 0;
}

.blockquote-img {
	margin-bottom: 1rem;
	max-width: 150px;
}

.blockquote-content {
	overflow: hidden;
}

@media only screen and (min-width: 768px) {

	.blockquote-img {
		margin-right: 2rem;
		float: left;
	}

}

// Lists

.info-list {
	
	dt, dd {
		margin: 0 0 14px;
		padding: 0 0 14px;
	}
	dt {
		float: left;
    width: 90px;
    color: rgba($shade-2, 0.6);
    font-weight: 300;
    text-align: left;
	}

	dd {
		padding-left: 100px;
    border-bottom: solid 1px $gray-200;
    &:last-child {
    	margin-bottom: 0;
			padding-bottom: 0;
    	border-bottom: 0;
    }
	}

	i {
		margin-right: 6px;
	}

}

// CSS Shapes

.btn-shape {
	position: relative;
	padding: 0;
	width: 30px;
	height: 30px;
 	background: lighten($shade-1, 83);
  border: 0;
  -webkit-appearance: none;
  cursor: pointer;
	
	&:hover {
		background: lighten($shade-1, 80);

		.menu-line {		
			background-color: lighten($brand-secondary, 20);
		}
	}

	.menu-line {
		width: 10px;
		background-color: $brand-secondary;
	}

	div {
		position: relative;
		left: 10px;
		top: -10px;
	}

	// plus shape
	&.btn-shape--plus {
		.menu-line:nth-last-of-type(2) {
			transform: rotate(90deg);
		}	
	}

	// plus shape
	&.btn-shape--plus {
		.menu-line:nth-last-of-type(2) {
			transform: rotate(90deg);
		}	
	}
	
}


// Countdown timer

.row-timer {
	margin-top: -35px;
}

.timer {
	padding: 10px;
	max-width: 400px;
	min-width: 280px;
	background-color: $brand-primary;
	border-radius: $radius-pill;
	@include card(3);
	
	.list-inline-item:not(:last-child) {
		margin-right: 1rem;
	}

	span {
		display: block;
	}

	.timer-number {
		padding: 4px 0;
		font-size: 1.75rem;
		font-weight: $font-weight-500;
		line-height: 1;
	}

	.timer-text {
		font-size: 11px;
		letter-spacing: 1px;
		line-height: 1;
		text-transform: uppercase;
	}

}

@media only screen and (min-width: 768px) {

	.timer {

		.timer-number {
			font-size: 2rem;
		}
	}

}


// Button toggle search
// =============================================
// z-index set to avoid logo overlap.

.btn-search-toggle {
	position: relative;
	display: block;
	padding: 10px 0;
	color: $white;
	text-align: center;
	z-index: 999;

	&:hover {
		color: $white;
		text-decoration: none;
	}
	
	// arrow down - initial state
	&::after {
		position: relative;
		top: 1px;
		left: 4px;
		display: inline-block;
		content: "\e5db";
		@include transition(all 0.25s ease-in-out);
		
	}

	// arrow up
	// &.expanded::after {
	// 	@include transform(rotate(180deg));
	// }
	
	// arrow down
	// &.collapsed::after {
	// 	@include transform(rotate(0));
	// }

}


// Social icons
// =============================================

// Rounded icons

.social-icon {
	display: inline-block;
	background: $brand-primary;
	color: $white;
	border-radius: $radius-round;
	text-align: center;
	height: 44px;
	width: 44px;
	line-height: 44px !important;
	font-size: 1.5rem;
	
	&.icon-facebook {
		background-color: $facebook-primary;
	}

	&.icon-twitter {
		background-color: $twitter-primary;
	}

	&.icon-instagram {
		background-color: $instagram-primary;
	}

}


// Mobile Menu
// =============================================

.mobile-sidebar {
	
	.mobile-sidebar-header {
		margin-bottom: 1rem;

		& > :first-child {
			display: inline-block;
			font-weight: $font-weight-normal;
		}
	}

	.link-text-secondary {
		font-size: 0.75rem;
	}
}

// Modals
// =============================================

.lips-modal {
	.btn {
		margin-top: 20px;
	}
}

.lips-modal-confirm {
	color: $white;
	padding-bottom: 150px;
	padding-bottom: 80px;
	background-color: #151515;
	background-image: url('../img/drinkspy-modal-bg.jpg');
	background-position: center bottom;
	background-size: cover;

	a {
		color: $white;
		text-decoration: underline;
		white-space: nowrap;
	}
}

.lps-modal-content {
	padding: 50px 50px 20px;
	padding: 20px;
}

.modal-title,
.modal-intro {
	text-align: center;
}

.modal-title {
	font-size: 30px;
}

.modal-form {
	padding-top: 10px;
	padding-bottom: 30px;
}

@media only screen and (min-width: 768px) {
	
	.lips-modal-confirm {
		padding-bottom: 150px;
	}

	.lps-modal-content {
		padding: 50px 50px 20px;
	}

}


// Utilities
// =============================================

// Circular images

.circular-landscape {
	display: inline-block;
	position: relative;
	width: 200px;
	height: 200px;
	overflow: hidden;
	border-radius: $radius-round;
	
	img {
		width: auto;
		height: 100%;
		margin-left: -50px;
	}
}

.container {
	padding-left: 20px;
	padding-right: 20px;
}

@media (min-width: 576px) {

	.container {
		max-width: 100%;
	}

}

@media (min-width: 768px) {

	.container {
		max-width: 100%;
	}

}

@media (min-width: 992px) {

	.container {
		max-width: 100%;
	}

}

@media (min-width: 1200px) {

	.container {
		max-width: 1200px;
	}

}
