// Variables
// =============================================

// Typography
$font-weight-normal: 400;
$font-weight-500: 500;
$font-weight-600: 600;

// Greys
$shade-1: #231f20;
$shade-2: #3f3f3f;

// Primary colours
$brand-primary: #d0232b; // Red
$brand-secondary: $shade-1; // Dark grey

// Secondary colours
$highlight: #f0efda;

// UI colours
$white: #fff;
$brand-facebook: #3b5998;
$brand-twitter: #1da1f2;

// UI components
$lips-btn-primary: $brand-primary; // red
$lips-btn-secondary: #77b204; // green

// Border radius
$radius-xs: 0.19rem;
$radius: 0.25rem;
$radius-round: 50%;
$radius-pill: 44px;


// Mixins
// =============================================

@mixin button-theme($btn-color) {
	color: $white;
  background-color: $btn-color;
	border-color: $btn-color;
	cursor: pointer;
  &:hover {
  	color: $white;
    background-color: darken($btn-color, 7.5%);
    border-color: darken($btn-color, 7.5%);
  }
  &:active {
  	color: $white;
    background-color: darken($btn-color, 10%);
    border-color: darken($btn-color, 10%);
  }

}

// Border radius
@mixin border-radius($radius) {
	border-radius: $radius;
}

// Transitions
@mixin transition($args...) {
	-webkit-transition: $args;
	-moz-transition: $args;
	-ms-transition: $args;
	-o-transition: $args;
	transition: $args;
}

// Transforms
@mixin transform($args...) {
	-webkit-transform: $args;
	-moz-transform: $args;
	-ms-transform: $args;
	-o-transform: $args;
	transform: $args;
}

// Box Shadow
// https://css-tricks.com/snippets/sass/material-shadows-mixin/
@function top-shadow($depth) {
	$primary-offset: nth(1.5 3 10 14 19, $depth) * 1px;
	$blur: nth(1.5 3 10 14 19, $depth) * 4px;
	$color: rgba($shade-2, nth(.12 .16 .19 .25 .30, $depth));
	@return 0 $primary-offset $blur $color;
}

@function bottom-shadow($depth) {
	$primary-offset: nth(1.5 3 6 10 15, $depth) * 1px;
	$blur: nth(1 3 3 5 6, $depth) * 4px;
	$color: rgba($shade-2, nth(.24 .23 .23 .22 .22, $depth));
	@return 0 $primary-offset $blur $color;
}

@mixin card($depth) {
	@if $depth < 1 {
		box-shadow: none;
	} @else if $depth > 5 {
		@warn "Invalid $depth `#{$depth}` for mixin `card`.";
	} @else {
		box-shadow: bottom-shadow($depth), top-shadow($depth);  
	}
}


// Typography
// =============================================

h1, h2, .title-bold {
	font-weight: $font-weight-600;
}

h3, h4, h5, h6 {
	font-weight: $font-weight-500;
}


// Header
// =============================================

.nav-info {
	height: 70px;
	color: $white;
	font-size: 12px;
	background-color: $brand-primary;

	.nav-spacer {
		margin-right: 14px;
	}

	.list-inline-item:not(:last-child) {
		@extend .nav-spacer;
	}

	a {
		color: $white;
		&:hover {
			text-decoration: none;
		}
	}

	.icon {
		margin-left: 4px;
	}

}

.nav-main {
	position: relative;
	background-color: $shade-1;
}

@media only screen and (min-width: 768px) {

	.nav-info {
		height: auto;
	}

	.nav-main {
		height: 63px;
	}

}

// logo data url

.logo {
	position: absolute;
	left: 50%; top: 4px;
	margin-left: -38px;
	display: block;
	width: 76px;
	height: 76px;
	text-align: center;
	background-color: $white;
	border-radius: $radius-round;
	z-index: 100;
	@include transition(all 0.2s ease-in);
	@include card(3);

	&:hover {
		@include card(4);
	}
}

// logo data url
// https://websemantics.uk/tools/svg-to-background-image-conversion/

.logo-img {
	display: inline-block;
	width: 100%;
	height: 100%;
	text-indent: -999em;
	background-repeat: no-repeat;
}

.logo-lips {
	background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='292px' height='330px' viewBox='0 0 292 330' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 47.1 (45422) - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3Elips-logo%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='lips-logo'%3E%3Cpolyline id='Fill-4' fill='%231A1919' points='0.449 289.356 16.765 278.913 16.765 100.318 2.929 90.658 33.663 90.658 21.038 283.917 60.676 283.917 75.422 215.16 75.422 289.356 0.449 289.356'%3E%3C/polyline%3E%3Cpolyline id='Fill-5' fill='%231A1919' points='76.979 289.356 99.61 279.963 95.337 124.46 74.36 114.937 134.572 114.937 112.624 124.46 104.854 279.963 127.321 289.356 76.979 289.356'%3E%3C/polyline%3E%3Cpath d='M155.727,204.671 L157.56,204.671 C169.219,204.671 178.512,199.205 185.432,188.268 C192.351,177.333 195.811,162.45 195.811,143.616 C195.811,127.04 193.225,114.849 188.047,107.037 C182.87,99.225 174.755,95.319 163.702,95.319 L163.18,95.319 L155.727,204.671 Z M129.773,289.356 L146.088,278.913 L146.088,100.318 L132.253,90.658 L161.875,90.658 C176.048,90.658 187.416,95.941 195.98,106.503 C204.545,117.067 208.824,131.043 208.824,148.429 C208.824,165.907 203.756,180.426 193.625,191.988 C183.489,203.552 170.773,209.333 155.465,209.333 L150.36,289.356 L129.773,289.356 L129.773,289.356 Z' id='Fill-6' fill='%231A1919'%3E%3C/path%3E%3Cpath d='M287.16,87.411 L287.16,154.171 C281.6,130.305 276.629,114.336 272.246,106.263 C267.864,98.19 262.505,94.154 256.168,94.154 C251.215,94.154 247.439,97.019 244.836,102.746 C242.231,108.476 240.933,116.891 240.933,127.999 C240.933,139.716 242.341,149.155 245.17,156.314 C247.998,163.473 253.631,171.176 262.073,179.418 C274.486,191.771 282.511,202.013 286.158,210.147 C289.8,218.279 291.627,227.736 291.627,238.522 C291.627,253.921 288.082,266.534 280.993,276.36 C273.903,286.19 264.92,291.104 254.05,291.104 C248.138,291.104 243.003,288.846 238.656,284.324 C234.311,279.802 230.438,272.631 227.045,262.804 L217.819,281.62 L217.819,205.837 C224.623,237.196 230.554,258.276 235.609,269.077 C240.672,279.878 246.735,285.277 253.801,285.277 C260.865,285.277 266.056,281.581 269.369,274.182 C272.684,266.786 274.341,255.168 274.341,239.326 C274.341,223.925 272.944,212.395 270.164,204.735 C267.379,197.075 262.462,189.81 255.415,182.933 C254.28,181.892 252.538,180.329 250.189,178.241 C239.64,168.948 232.356,160.348 228.351,152.439 C227.039,149.919 225.995,146.444 225.212,142.014 C224.423,137.583 224.035,132.894 224.035,127.941 C224.035,116.561 227.1,107.18 233.236,99.793 C239.373,92.409 247.1,88.715 256.41,88.715 C261.284,88.715 265.552,90.397 269.205,93.753 C272.859,97.11 276.082,102.321 278.868,109.386 L287.16,87.411' id='Fill-7' fill='%231A1919'%3E%3C/path%3E%3Cpath d='M97.508,8.531 C98.71,9.096 99.718,11.133 100.909,11.9 C101.575,13.36 101.4,13.297 103.081,13.681 C102.948,15.125 103.354,16.201 104.46,16.789 C106.409,12.3 101.06,12.749 100.625,8.688 C103.194,8.137 105.956,9.566 107.059,11.842 C107.311,12.358 107.369,18.526 109.817,15.148 C111.429,12.92 105.529,11.259 109.843,9.332 C113.103,7.874 113.244,11.39 115.158,11.785 C114.982,10.979 115.426,9.867 115.245,9.054 C119.062,7.829 122,9.426 122.605,12.632 C123.474,17.229 120.824,17.191 124.82,20.639 C126.322,21.936 128.641,23.167 128.059,25.73 C127.544,27.998 125.414,28.739 123.589,28.153 C122.657,27.854 120.223,25.484 120.536,24.299 C120.889,22.942 123.413,22.649 124.773,22.475 C124.46,20.512 121.193,19.399 119.401,19.065 C116.186,18.466 115.676,18.411 114.149,21.093 C111.824,25.178 114.573,30.232 119.795,29.577 C120.583,27.2 128.727,29.001 131.181,28.873 C131.504,31.172 133.894,31.424 136.22,32.479 C139.098,33.781 140.595,33.804 141.153,29.642 C139.637,28.502 137.865,27.632 138.382,25.429 C141.233,25.026 139.015,22.298 138.288,20.714 C139.1,20.303 140.475,20.167 141.495,20.437 C142.148,22.575 142.485,25.672 145.076,26.043 C145.139,25.609 145.144,25.148 145.166,24.716 C147.51,21.882 149.906,23.739 150.505,19.011 C153.619,18.648 154.127,24.71 152.24,26.095 C150.438,27.413 144.987,25.604 145.146,28.865 C145.872,29.233 154.456,28.776 155.463,28.23 C158.173,26.76 155.706,25.388 156.21,23.508 C156.733,21.564 158.207,21.062 159.686,20.444 C154.114,20.301 151.753,19.014 148.584,14.695 C146.064,11.266 143.378,8.755 139.139,7.924 C136.391,7.384 133.938,8.198 131.229,7.93 C129.363,7.748 128.115,6.28 126.704,5.717 C121.182,3.511 122.864,8.706 117.409,7.86 C117.253,7.08 116.729,7.033 116.354,6.58 C116.407,5.755 116.273,4.798 116.242,4.06 C110.639,3.769 109.037,3.325 104.531,0.402 C102.149,1.58 100.091,4.626 97.801,5.458 C96.069,6.086 90.551,4.869 92.135,8.573 C93.931,8.791 95.915,7.785 97.508,8.531 Z M93.852,26.158 C96.028,30.165 97.285,30.402 97.445,35.287 C99.831,35.683 104.46,32.891 104.531,30.35 L103.465,30.35 C104.06,30.114 104.49,29.888 105.192,29.941 C105.312,29.392 105.549,29.081 105.689,28.624 C107.005,29.481 107.926,30.751 108.864,32.085 C117.941,32.426 109.619,26.211 104.939,26.844 C105.137,28.713 103.788,29.469 102.02,28.945 C99.64,28.242 101.573,27.309 101.685,26.722 C101.941,25.388 103.175,24.982 103.107,22.875 C103.051,21.234 103.073,19.699 101.38,18.988 C101.991,23.263 97.097,18.721 95.143,18.98 C96.913,18.566 102.628,15.639 98.576,13.167 C96.411,11.85 90.613,14.688 90.642,17.179 C90.66,18.936 92.267,20.383 92.782,22.083 C93.288,23.745 93.022,24.628 93.852,26.158 Z M70.355,25.366 C75.268,25.341 73.511,21.006 76.036,19.227 C77,18.547 78.37,19.212 79.339,18.707 C80.063,18.332 80.247,17.299 80.871,16.726 C82.32,15.392 83.937,14.12 84.489,12.249 C77.78,12.544 75.425,11.428 71.045,16.718 C67.961,20.444 68.306,23.302 67.963,27.014 C68.049,27.058 68.139,27.096 68.22,27.146 L70.355,25.366 Z M60.301,68.434 C62.138,67.246 63.325,67.993 65.018,65.87 C66.572,63.92 67.047,61.275 68.228,59.192 C69.788,56.44 69.212,57.461 72.466,55.91 C72.514,54.542 72.46,53.125 72.547,51.764 C73.363,51.92 74.707,51.393 75.304,51.456 C74.713,50.406 76.523,45.537 77.735,44.849 C80.704,43.162 80.476,46.47 83.119,45.979 C83.247,43.437 83.469,40.533 82.736,38.174 C82.375,37.02 80.572,33.063 79.665,32.781 C78.896,30.573 76.605,28.42 76.454,26.045 C80.451,24.759 84.717,34.059 85.742,36.401 C86.131,37.294 87.853,43.871 89.881,40.335 C91.604,37.335 86.663,37.322 87.141,34.675 C91.695,32.847 91.345,38.791 95.223,37.772 C96.128,34.118 92.864,30.292 91.021,27.78 C89.605,25.847 90.268,25.09 89.578,22.877 C89.094,21.323 87.452,20.996 87.862,19.019 C88.755,18.593 88.942,17.841 89.543,17.179 C88.414,16.361 87.512,15.201 86.704,13.995 C83.528,15.499 84.359,16.634 83.172,19.315 C82.131,21.667 82.409,20.047 81.017,21.426 C80.207,22.225 79.27,22.744 78.837,23.882 C72.439,24.418 78.02,31.616 79.668,33.93 C78,39.049 70.401,28.511 67.467,32.139 C69.038,34.065 72.714,36.114 73.149,38.13 C71.436,38.263 70.156,38.673 68.505,38.101 C66.814,37.514 66.07,35.103 65.396,34.874 C65.092,34.771 64.753,34.742 64.401,34.767 C65.859,33.556 67.169,31.526 67.509,30.007 C67.75,28.935 67.877,27.949 67.963,27.014 C66.577,26.295 64.625,26.105 63.239,24.969 C62.756,24.575 59.641,32.273 59.952,33.436 C60.363,34.978 61.064,35.648 61.876,35.768 C60.66,36.644 59.761,37.96 59.978,39.196 C57.279,39.361 54.578,38.598 55.13,41.739 C55.141,41.814 57.169,44.576 57.276,44.669 C57.772,45.094 58.537,45.645 58.984,46.021 C59.278,46.267 60.078,45.741 60.396,46.086 C62.608,48.464 60.275,49.425 61.121,52.055 C61.562,53.428 65.411,57.444 60.795,56.638 C60.595,54.746 58.663,54.715 57.944,53.125 C57.571,52.299 58.128,51.153 57.896,50.294 C57.158,47.547 57.496,46.3 54.008,47.864 C54.548,50.147 57.111,53.841 57.19,55.974 C57.399,61.421 52.032,56.659 50.123,59.535 C48.656,61.742 55.539,59.749 56.73,60.61 C59.366,62.518 57.564,63.629 56.495,65.335 C55.888,66.296 54.739,67.579 53.919,68.734 C52.85,68.784 51.746,68.786 50.655,68.772 C50.821,71.122 48.567,76.068 49.415,78.704 C51.178,79.193 54.745,80.336 56.455,79.12 C57.966,78.041 57.727,75.553 57.595,73.36 C59.374,71.569 58.165,69.814 60.301,68.434 Z M49.639,67.521 C49.711,67.979 49.749,68.415 49.763,68.76 C50.056,68.77 50.357,68.767 50.655,68.772 C50.629,68.375 50.54,68.043 50.349,67.822 C50.23,67.681 49.969,67.59 49.639,67.521 Z M46.204,65.604 C44.404,67.436 47.986,67.173 49.639,67.521 C49.341,65.61 48.453,63.313 46.204,65.604 Z M84.543,74.083 C84.524,74.088 84.511,74.098 84.492,74.102 C84.422,73.297 84.34,72.692 84.143,72.213 C84.495,72.545 84.674,73.087 84.543,74.083 Z M156.826,41.039 C157.131,39.308 163.21,38.387 164.937,37.453 C162.756,37.312 160.683,38.562 158.757,38.553 C156.747,38.545 155.156,37.553 153.356,36.954 C153.889,37.169 153.453,37.312 153.945,38.123 C149.088,40.739 148.425,40.102 143.341,38.922 C142.822,45.21 154.545,48.549 153.261,55.222 C147.804,53.88 149.135,58.882 145.89,58.411 C144.937,56.685 142.613,55.315 143.77,53.178 C146.111,53.649 146.991,58.428 149.408,55.426 C151.335,53.032 148.392,50.319 147.152,48.521 C145.533,46.183 145.026,43.971 142.167,42.368 C138.675,40.405 138.218,42.692 136.131,45.629 C135.837,45.207 135.014,44.752 134.744,43.995 C135.401,45.464 134.498,47.046 134.87,48.424 C135.277,49.947 135.871,50.107 137.004,51.353 C138.885,53.424 140.751,55.174 141.629,57.96 C142.872,61.879 140.77,62.234 138.722,59.541 C136.956,57.219 136.522,53.805 135.229,51.487 C134.437,51.477 133.208,51.927 132.602,52.413 C133.726,55.511 140.216,60.024 139.719,63.056 C138.719,62.554 138.548,62.79 137.938,61.738 C133.907,61.586 133.791,54.217 131.297,52.448 C130.768,54.671 128.819,53.28 128.002,55.643 C127.857,56.057 128.765,59.541 128.701,60.556 C125.334,61.584 123.874,58.118 124.056,55.315 C123.6,55.297 123.196,55.279 122.74,55.323 C122.612,60.093 135.169,70.718 131.229,73.781 L130.516,73.424 C130.45,73.398 130.388,73.377 130.329,73.353 C129.158,72.089 128.185,70.654 127.006,69.467 C126.25,67.46 124.33,66.476 123.397,64.345 C122.486,62.262 122.561,60.09 120.542,58.465 C118.957,57.184 116.535,56.234 114.604,57.753 C111.699,60.04 114.653,60.547 116.359,62.38 C117.581,63.697 119.684,65.923 120.568,67.451 C121.488,69.039 122.646,73.013 119.103,71.311 C115.588,69.631 116.478,61.553 111.712,61.384 C111.51,62.389 111.041,63.339 111.269,64.471 C110.476,64.268 109.298,64.766 108.501,64.577 C109.098,67.465 113.93,70.293 113.383,73.37 L113.357,73.37 C113.31,73.141 113.252,72.902 113.154,72.625 C112.539,70.95 110.366,69.713 109.181,68.439 C108.185,67.372 106.279,63.785 104.6,64.577 C103.305,65.189 103.758,69.139 103.879,70.237 C104.179,72.949 108.994,79.331 102.454,77.999 C101.072,75.271 99.313,73.431 97.749,71.031 C96.859,69.666 96.859,69.514 96.692,68.165 C96.582,67.276 99.504,64.359 95.659,65.272 C96.028,66.198 95.807,67.411 95.935,68.388 C92.476,67.763 93.514,70.988 96.645,70.274 C96.822,71.1 97.003,72.639 97.02,73.353 C96.375,73.533 95.268,73.545 94.626,73.362 C94.281,72.336 93.598,72.132 93.443,70.986 C91.358,71.147 89.554,67.329 90.235,65.644 C89.753,65.425 88.7,65.256 88.208,65.281 C87.922,67.368 89.814,68.081 89.517,70.157 C88.358,70.592 87.164,70.978 86.02,71.289 L85.664,71.289 C85.244,69.595 85.628,67.656 84.593,66.404 C83.657,65.271 81.265,64.191 80.058,65.309 C78.72,66.546 79.585,69.15 80.498,70.404 C78.273,69.974 76.929,69.814 74.627,68.406 C73.693,69.279 73.139,69.477 73.133,70.897 C69.831,67.859 59.641,75.652 58.592,79.475 C55.813,89.603 70.542,85.019 64.305,80.188 C66.13,80.033 66.58,78.401 66.493,76.68 C72.01,75.043 67.877,86.932 74.93,84.761 C75.568,80.695 72.238,78.058 72.547,74.548 C77.633,73.228 72.822,86.761 80.27,85.581 C80.392,90.228 85.833,91.041 83.583,87.005 C83.946,87.017 84.263,87.083 84.552,87.18 C85.044,87.699 85.665,88.123 86.333,88.425 C87.339,89.399 88.27,90.356 90.629,89.38 C90.479,88.938 90.3,88.534 90.125,88.121 C90.593,87.229 90.024,85.771 88.313,84.617 C88.267,84.537 88.222,84.455 88.173,84.373 C90.225,81.315 91.2,87.16 91.412,88.677 C91.965,88.835 92.887,88.832 93.442,88.677 C93.766,87.307 93.407,85.969 92.552,84.878 C94.104,84.522 99.922,89.755 98.88,84.514 C100.158,84.388 101.433,84.993 102.343,85.48 C102.149,84.894 102.263,84.022 102.065,83.443 C103.572,83.289 104.748,83.959 104.885,85.421 C104.737,84.798 105.002,84.054 104.933,83.443 C105.622,83.238 107.007,83.233 107.69,83.453 C107.711,84.142 108.254,84.772 108.224,85.474 C118.727,86.1 111.263,83.401 112.009,78.071 C112.104,77.405 112.293,76.9 112.504,76.469 C112.869,76.433 113.244,76.387 113.654,76.328 C113.656,84.401 120.847,81.014 118.963,74.772 C119.83,74.387 120.7,74.393 121.557,74.91 C121.596,76.814 122.456,78.46 124.425,78.346 C124.58,78.28 125.691,77.556 126.183,77.279 C126.591,74.934 125.458,73.567 124.864,71.621 C126.276,71.17 127.527,73.474 128.748,75.006 C128.88,75.343 129.031,75.665 129.174,75.87 C129.253,75.826 129.34,75.797 129.425,75.757 C130.242,76.516 131.052,76.606 131.9,74.99 C132.363,74.909 132.831,74.841 133.312,74.794 C133.456,72.026 131.524,65.534 135.802,65.648 C135.927,67.105 135.734,72.902 138.809,69.25 C140.262,67.523 137.001,63.024 141.498,64.223 C141.615,65.378 142.047,66.214 142.316,67.321 C146.268,67.487 150.294,66.347 152.41,62.655 C153.356,61.012 152.908,58.969 153.915,57.311 C154.25,56.756 155.502,56.766 156.139,55.97 C156.941,54.963 157.428,54.435 157.523,53.186 C155.094,53.733 153.989,51.714 154.709,49.833 C155.311,48.25 158.039,49.797 157.532,46.795 C156.741,46.702 155.891,45.977 155.1,45.926 C155.322,45.668 155.587,45.224 155.824,44.947 C154.536,44.347 153.383,43.38 153.709,41.794 C158.656,40.305 157.081,48.825 160.383,47.09 C160.083,46.25 156.866,40.829 156.826,41.039 Z M153.356,36.954 C153.209,36.896 153.013,36.835 152.688,36.751 C152.915,36.811 153.134,36.881 153.356,36.954 L153.356,36.954 Z' id='Fill-8' fill='%23D0232B'%3E%3C/path%3E%3Cpolyline id='Fill-9' fill='%23666D70' points='2.417 327.523 2.417 316.539 3.963 316.539 3.963 326.358 8.815 326.358 8.815 327.523 2.417 327.523'%3E%3C/polyline%3E%3Cpolygon id='Fill-10' fill='%23666D70' points='10.45 327.523 11.995 327.523 11.995 316.539 10.45 316.539'%3E%3C/polygon%3E%3Cpath d='M19.244,326.624 C20.333,326.624 21.18,326.216 21.787,325.398 C22.394,324.582 22.696,323.459 22.696,322.031 C22.696,320.605 22.394,319.481 21.787,318.665 C21.18,317.848 20.333,317.439 19.244,317.439 C18.154,317.439 17.307,317.848 16.7,318.665 C16.094,319.481 15.791,320.599 15.791,322.017 C15.791,323.439 16.092,324.563 16.692,325.388 C17.294,326.213 18.145,326.624 19.244,326.624 Z M24.454,329.715 C22.746,329.157 21.312,328.494 20.156,327.727 C19.695,327.77 19.34,327.79 19.089,327.79 C18.179,327.79 17.327,327.55 16.539,327.067 C15.75,326.587 15.156,325.897 14.756,325.002 C14.356,324.109 14.157,323.117 14.157,322.031 C14.157,320.945 14.355,319.956 14.752,319.064 C15.149,318.172 15.739,317.482 16.52,317.001 C17.302,316.515 18.209,316.273 19.244,316.273 C20.283,316.273 21.193,316.517 21.974,317.004 C22.756,317.49 23.344,318.181 23.738,319.071 C24.132,319.964 24.331,320.96 24.331,322.056 C24.331,323.184 24.117,324.208 23.687,325.128 C23.26,326.052 22.545,326.772 21.548,327.29 C22.796,327.843 24.091,328.236 25.433,328.474 L24.454,329.715 L24.454,329.715 Z' id='Fill-11' fill='%23666D70'%3E%3C/path%3E%3Cpath d='M26.417,316.539 L27.962,316.539 L27.962,323.465 C27.962,324.671 28.185,325.5 28.632,325.949 C29.079,326.399 29.701,326.624 30.5,326.624 C31.006,326.624 31.434,326.537 31.782,326.361 C32.129,326.187 32.399,325.9 32.591,325.505 C32.781,325.108 32.878,324.447 32.878,323.518 L32.878,316.539 L34.234,316.539 L34.234,323.496 C34.234,324.688 34.088,325.546 33.795,326.073 C33.503,326.599 33.091,327.018 32.559,327.326 C32.026,327.635 31.321,327.79 30.442,327.79 C29.506,327.79 28.747,327.628 28.169,327.308 C27.59,326.987 27.153,326.547 26.858,325.988 C26.564,325.428 26.417,324.585 26.417,323.45 L26.417,316.539' id='Fill-12' fill='%23666D70'%3E%3C/path%3E%3Cpath d='M41.384,326.624 C42.483,326.624 43.334,326.213 43.935,325.388 C44.536,324.563 44.836,323.439 44.836,322.017 C44.836,320.599 44.535,319.481 43.927,318.665 C43.321,317.848 42.473,317.439 41.384,317.439 C40.294,317.439 39.447,317.848 38.84,318.665 C38.234,319.481 37.932,320.599 37.932,322.017 C37.932,323.439 38.232,324.563 38.832,325.388 C39.435,326.213 40.285,326.624 41.384,326.624 Z M41.384,327.79 C40.354,327.79 39.459,327.557 38.698,327.093 C37.935,326.629 37.344,325.951 36.926,325.061 C36.506,324.167 36.297,323.158 36.297,322.031 C36.297,320.945 36.497,319.956 36.896,319.064 C37.294,318.172 37.886,317.482 38.665,317.001 C39.444,316.515 40.35,316.273 41.384,316.273 C42.419,316.273 43.324,316.515 44.103,317.001 C44.883,317.482 45.471,318.172 45.873,319.064 C46.271,319.956 46.471,320.945 46.471,322.031 C46.471,323.113 46.273,324.099 45.878,324.985 C45.484,325.872 44.901,326.562 44.13,327.053 C43.357,327.545 42.442,327.79 41.384,327.79 L41.384,327.79 Z' id='Fill-13' fill='%23666D70'%3E%3C/path%3E%3Cpath d='M50.179,321.708 L50.678,321.708 C51.817,321.708 52.585,321.469 52.981,320.99 C53.377,320.51 53.575,319.984 53.575,319.41 C53.575,319.069 53.501,318.771 53.352,318.517 C53.204,318.263 52.972,318.063 52.657,317.919 C52.342,317.776 51.838,317.705 51.146,317.705 L50.179,317.705 L50.179,321.708 Z M48.634,327.523 L48.634,316.539 L51.93,316.539 C53.15,316.539 53.994,316.814 54.461,317.365 C54.926,317.916 55.159,318.549 55.159,319.261 C55.159,319.678 55.076,320.087 54.913,320.492 C54.751,320.897 54.516,321.26 54.213,321.575 C53.911,321.891 53.498,322.158 52.975,322.375 L56.583,327.523 L54.697,327.523 L51.618,322.874 L50.179,322.874 L50.179,327.523 L48.634,327.523 L48.634,327.523 Z' id='Fill-14' fill='%23666D70'%3E%3C/path%3E%3Cpolygon id='Fill-15' fill='%23666D70' points='62.927 327.523 64.473 327.523 64.473 316.539 62.927 316.539'%3E%3C/polygon%3E%3Cpolyline id='Fill-16' fill='%23666D70' points='67.267 327.523 67.267 316.539 68.788 316.539 74.26 325.02 74.26 316.539 75.59 316.539 75.59 327.523 74.076 327.523 68.597 319.032 68.597 327.523 67.267 327.523'%3E%3C/polyline%3E%3Cpolyline id='Fill-17' fill='%23666D70' points='78.396 327.523 78.396 316.539 84.604 316.539 84.604 317.705 79.942 317.705 79.942 321.366 83.87 321.366 83.87 322.532 79.942 322.532 79.942 327.523 78.396 327.523'%3E%3C/polyline%3E%3Cpath d='M90.927,326.624 C92.026,326.624 92.877,326.213 93.479,325.388 C94.079,324.563 94.379,323.439 94.379,322.017 C94.379,320.599 94.077,319.481 93.47,318.665 C92.864,317.848 92.016,317.439 90.927,317.439 C89.837,317.439 88.991,317.848 88.384,318.665 C87.777,319.481 87.474,320.599 87.474,322.017 C87.474,323.439 87.776,324.563 88.376,325.388 C88.978,326.213 89.829,326.624 90.927,326.624 Z M90.927,327.79 C89.897,327.79 89.003,327.557 88.24,327.093 C87.478,326.629 86.887,325.951 86.469,325.061 C86.05,324.167 85.84,323.158 85.84,322.031 C85.84,320.945 86.04,319.956 86.439,319.064 C86.839,318.172 87.429,317.482 88.208,317.001 C88.987,316.515 89.893,316.273 90.927,316.273 C91.961,316.273 92.867,316.515 93.646,317.001 C94.426,317.482 95.014,318.172 95.415,319.064 C95.814,319.956 96.014,320.945 96.014,322.031 C96.014,323.113 95.816,324.099 95.422,324.985 C95.027,325.872 94.444,326.562 93.674,327.053 C92.9,327.545 91.985,327.79 90.927,327.79 L90.927,327.79 Z' id='Fill-18' fill='%23666D70'%3E%3C/path%3E%3Cpath d='M99.723,321.708 L100.222,321.708 C101.362,321.708 102.129,321.469 102.524,320.99 C102.92,320.51 103.118,319.984 103.118,319.41 C103.118,319.069 103.044,318.771 102.896,318.517 C102.747,318.263 102.515,318.063 102.2,317.919 C101.885,317.776 101.381,317.705 100.689,317.705 L99.723,317.705 L99.723,321.708 Z M98.178,327.523 L98.178,316.539 L101.473,316.539 C102.694,316.539 103.539,316.814 104.003,317.365 C104.469,317.916 104.702,318.549 104.702,319.261 C104.702,319.678 104.62,320.087 104.457,320.492 C104.294,320.897 104.059,321.26 103.757,321.575 C103.454,321.891 103.041,322.158 102.518,322.375 L106.126,327.523 L104.24,327.523 L101.159,322.874 L99.723,322.874 L99.723,327.523 L98.178,327.523 L98.178,327.523 Z' id='Fill-19' fill='%23666D70'%3E%3C/path%3E%3Cpolyline id='Fill-20' fill='%23666D70' points='107.703 327.523 107.703 316.539 109.846 316.539 112.866 325.027 115.999 316.539 117.89 316.539 117.89 327.523 116.445 327.523 116.445 318.592 113.422 326.786 111.958 326.786 109.033 318.566 109.033 327.523 107.703 327.523'%3E%3C/polyline%3E%3Cpath d='M122.487,323.317 L126.188,323.317 L124.346,318.586 L122.487,323.317 Z M119.399,327.523 L123.716,316.539 L125.246,316.539 L129.497,327.523 L127.827,327.523 L126.643,324.483 L122.029,324.483 L120.833,327.523 L119.399,327.523 L119.399,327.523 Z' id='Fill-21' fill='%23666D70'%3E%3C/path%3E%3Cpolyline id='Fill-22' fill='%23666D70' points='133.668 327.523 133.668 317.705 129.806 317.705 129.806 316.539 139.078 316.539 139.078 317.705 135.214 317.705 135.214 327.523 133.668 327.523'%3E%3C/polyline%3E%3Cpolygon id='Fill-23' fill='%23666D70' points='140.599 327.523 142.144 327.523 142.144 316.539 140.599 316.539'%3E%3C/polygon%3E%3Cpath d='M149.392,326.624 C150.493,326.624 151.343,326.213 151.944,325.388 C152.546,324.563 152.844,323.439 152.844,322.017 C152.844,320.599 152.543,319.481 151.938,318.665 C151.33,317.848 150.48,317.439 149.392,317.439 C148.302,317.439 147.456,317.848 146.853,318.665 C146.243,319.481 145.938,320.599 145.938,322.017 C145.938,323.439 146.243,324.563 146.842,325.388 C147.443,326.213 148.296,326.624 149.392,326.624 Z M149.392,327.79 C148.365,327.79 147.469,327.557 146.706,327.093 C145.945,326.629 145.354,325.951 144.934,325.061 C144.513,324.167 144.304,323.158 144.304,322.031 C144.304,320.945 144.507,319.956 144.906,319.064 C145.305,318.172 145.895,317.482 146.674,317.001 C147.453,316.515 148.359,316.273 149.392,316.273 C150.427,316.273 151.333,316.515 152.111,317.001 C152.892,317.482 153.48,318.172 153.883,319.064 C154.281,319.956 154.479,320.945 154.479,322.031 C154.479,323.113 154.281,324.099 153.89,324.985 C153.492,325.872 152.911,326.562 152.141,327.053 C151.368,327.545 150.449,327.79 149.392,327.79 L149.392,327.79 Z' id='Fill-24' fill='%23666D70'%3E%3C/path%3E%3Cpolyline id='Fill-25' fill='%23666D70' points='156.645 327.523 156.645 316.539 158.164 316.539 163.639 325.02 163.639 316.539 164.969 316.539 164.969 327.523 163.455 327.523 157.976 319.032 157.976 327.523 156.645 327.523'%3E%3C/polyline%3E%3Cpath d='M174.083,321.975 L174.687,321.975 C175.675,321.975 176.381,321.74 176.808,321.271 C177.24,320.802 177.455,320.22 177.455,319.527 C177.455,319.153 177.385,318.836 177.249,318.577 C177.111,318.316 176.892,318.107 176.594,317.945 C176.289,317.785 175.757,317.705 174.996,317.705 L174.083,317.705 L174.083,321.975 Z M172.539,327.523 L172.539,316.539 L175.456,316.539 C176.491,316.539 177.24,316.644 177.689,316.851 C178.139,317.057 178.486,317.376 178.729,317.805 C178.97,318.234 179.089,318.769 179.089,319.41 C179.089,320.159 178.931,320.816 178.612,321.38 C178.291,321.942 177.783,322.375 177.08,322.682 C176.374,322.988 175.599,323.141 174.753,323.141 L174.083,323.141 L174.083,327.523 L172.539,327.523 L172.539,327.523 Z' id='Fill-26' fill='%23666D70'%3E%3C/path%3E%3Cpath d='M182.411,321.708 L182.909,321.708 C184.05,321.708 184.814,321.469 185.215,320.99 C185.607,320.51 185.807,319.984 185.807,319.41 C185.807,319.069 185.735,318.771 185.582,318.517 C185.437,318.263 185.202,318.063 184.889,317.919 C184.575,317.776 184.068,317.705 183.377,317.705 L182.411,317.705 L182.411,321.708 Z M180.865,327.523 L180.865,316.539 L184.163,316.539 C185.383,316.539 186.229,316.814 186.69,317.365 C187.16,317.916 187.391,318.549 187.391,319.261 C187.391,319.678 187.309,320.087 187.147,320.492 C186.982,320.897 186.748,321.26 186.444,321.575 C186.143,321.891 185.729,322.158 185.209,322.375 L188.813,327.523 L186.929,327.523 L183.847,322.874 L182.411,322.874 L182.411,327.523 L180.865,327.523 L180.865,327.523 Z' id='Fill-27' fill='%23666D70'%3E%3C/path%3E%3Cpolygon id='Fill-28' fill='%23666D70' points='190.391 327.523 191.937 327.523 191.937 316.539 190.391 316.539'%3E%3C/polygon%3E%3Cpath d='M202.927,326.953 C202.483,327.186 202.084,327.358 201.729,327.469 C201.382,327.579 201.014,327.66 200.641,327.713 C200.26,327.766 199.849,327.79 199.407,327.79 C197.574,327.79 196.227,327.244 195.375,326.152 C194.522,325.061 194.096,323.689 194.096,322.04 C194.096,320.356 194.54,318.972 195.423,317.892 C196.307,316.813 197.663,316.273 199.487,316.273 C200.463,316.273 201.603,316.434 202.914,316.756 L202.914,318.211 C201.812,317.835 201.055,317.61 200.641,317.542 C200.222,317.474 199.829,317.439 199.455,317.439 C198.151,317.439 197.199,317.886 196.611,318.775 C196.024,319.667 195.729,320.76 195.729,322.055 C195.729,323.402 196.07,324.493 196.745,325.325 C197.422,326.158 198.378,326.574 199.62,326.574 C199.962,326.574 200.304,326.544 200.647,326.481 C200.988,326.42 201.33,326.329 201.667,326.21 C202.008,326.089 202.426,325.895 202.927,325.623 L202.927,326.953' id='Fill-29' fill='%23666D70'%3E%3C/path%3E%3Cpolygon id='Fill-30' fill='%23666D70' points='205.157 327.523 206.702 327.523 206.702 316.539 205.157 316.539'%3E%3C/polygon%3E%3Cpolyline id='Fill-31' fill='%23666D70' points='209.495 327.523 209.495 316.539 211.014 316.539 216.487 325.02 216.487 316.539 217.816 316.539 217.816 327.523 216.303 327.523 210.824 319.032 210.824 327.523 209.495 327.523'%3E%3C/polyline%3E%3Cpath d='M228.808,327.22 C227.857,327.496 227.16,327.66 226.724,327.713 C226.283,327.766 225.83,327.79 225.358,327.79 C224.053,327.79 223.027,327.553 222.28,327.078 C221.532,326.604 220.966,325.92 220.576,325.024 C220.187,324.132 219.99,323.135 219.99,322.031 C219.99,320.347 220.433,318.966 221.316,317.889 C222.2,316.812 223.544,316.273 225.353,316.273 C226.445,316.273 227.589,316.434 228.782,316.756 L228.782,318.186 C227.681,317.816 226.924,317.601 226.509,317.536 C226.095,317.471 225.704,317.439 225.336,317.439 C224.028,317.439 223.081,317.888 222.499,318.783 C221.916,319.681 221.624,320.765 221.624,322.04 C221.624,322.83 221.747,323.566 221.995,324.25 C222.242,324.935 222.656,325.502 223.243,325.949 C223.826,326.399 224.607,326.624 225.594,326.624 C225.843,326.624 226.078,326.612 226.3,326.584 C226.521,326.556 226.84,326.479 227.261,326.351 L227.261,322.786 L228.808,322.786 L228.808,327.22' id='Fill-32' fill='%23666D70'%3E%3C/path%3E%3Cpath d='M235.631,327.308 L235.631,325.762 C236.509,326.169 237.147,326.414 237.549,326.497 C237.955,326.584 238.33,326.624 238.674,326.624 C239.299,326.624 239.793,326.453 240.157,326.109 C240.518,325.767 240.698,325.357 240.698,324.876 C240.698,324.517 240.604,324.185 240.417,323.876 C240.223,323.575 239.748,323.209 238.985,322.774 L238.23,322.336 C237.228,321.764 236.555,321.24 236.211,320.765 C235.864,320.291 235.693,319.764 235.693,319.186 C235.693,318.668 235.83,318.181 236.104,317.726 C236.379,317.271 236.745,316.915 237.206,316.658 C237.664,316.401 238.243,316.273 238.943,316.273 C239.786,316.273 240.676,316.412 241.611,316.691 L241.611,318.125 C240.797,317.802 240.239,317.607 239.938,317.54 C239.635,317.474 239.334,317.439 239.033,317.439 C238.401,317.439 237.934,317.605 237.633,317.935 C237.329,318.266 237.177,318.605 237.177,318.95 C237.177,319.187 237.245,319.429 237.392,319.672 C237.534,319.915 237.724,320.124 237.964,320.301 C238.21,320.477 238.538,320.685 238.962,320.927 L239.745,321.371 C240.759,321.949 241.434,322.478 241.771,322.958 C242.111,323.441 242.283,323.996 242.283,324.625 C242.283,325.48 241.959,326.22 241.313,326.85 C240.663,327.477 239.711,327.79 238.449,327.79 C238.063,327.79 237.687,327.766 237.322,327.713 C236.957,327.66 236.395,327.524 235.631,327.308' id='Fill-33' fill='%23666D70'%3E%3C/path%3E%3Cpolyline id='Fill-34' fill='%23666D70' points='244.393 327.523 244.393 316.539 250.511 316.539 250.511 317.705 245.938 317.705 245.938 321.214 249.776 321.214 249.776 322.381 245.938 322.381 245.938 326.358 250.828 326.358 250.828 327.523 244.393 327.523'%3E%3C/polyline%3E%3Cpath d='M254.365,323.317 L258.068,323.317 L256.226,318.586 L254.365,323.317 Z M251.277,327.523 L255.595,316.539 L257.125,316.539 L261.374,327.523 L259.707,327.523 L258.521,324.483 L253.906,324.483 L252.713,327.523 L251.277,327.523 L251.277,327.523 Z' id='Fill-35' fill='%23666D70'%3E%3C/path%3E%3Cpath d='M264.494,321.708 L264.992,321.708 C266.134,321.708 266.902,321.469 267.298,320.99 C267.691,320.51 267.891,319.984 267.891,319.41 C267.891,319.069 267.818,318.771 267.666,318.517 C267.521,318.263 267.285,318.063 266.973,317.919 C266.659,317.776 266.154,317.705 265.461,317.705 L264.494,317.705 L264.494,321.708 Z M262.949,327.523 L262.949,316.539 L266.244,316.539 C267.466,316.539 268.309,316.814 268.774,317.365 C269.241,317.916 269.475,318.549 269.475,319.261 C269.475,319.678 269.392,320.087 269.23,320.492 C269.066,320.897 268.831,321.26 268.531,321.575 C268.227,321.891 267.815,322.158 267.292,322.375 L270.899,327.523 L269.013,327.523 L265.934,322.874 L264.494,322.874 L264.494,327.523 L262.949,327.523 L262.949,327.523 Z' id='Fill-36' fill='%23666D70'%3E%3C/path%3E%3Cpath d='M280.675,326.953 C280.229,327.186 279.829,327.358 279.478,327.469 C279.126,327.579 278.761,327.66 278.385,327.713 C278.004,327.766 277.596,327.79 277.155,327.79 C275.318,327.79 273.973,327.244 273.121,326.152 C272.269,325.061 271.844,323.689 271.844,322.04 C271.844,320.356 272.283,318.972 273.171,317.892 C274.054,316.813 275.406,316.273 277.235,316.273 C278.207,316.273 279.348,316.434 280.659,316.756 L280.659,318.211 C279.56,317.835 278.8,317.61 278.385,317.542 C277.971,317.474 277.573,317.439 277.202,317.439 C275.895,317.439 274.948,317.886 274.358,318.775 C273.772,319.667 273.478,320.76 273.478,322.055 C273.478,323.402 273.817,324.493 274.491,325.325 C275.166,326.158 276.127,326.574 277.364,326.574 C277.706,326.574 278.052,326.544 278.391,326.481 C278.732,326.42 279.075,326.329 279.414,326.21 C279.753,326.089 280.174,325.895 280.675,325.623 L280.675,326.953' id='Fill-37' fill='%23666D70'%3E%3C/path%3E%3Cpolyline id='Fill-38' fill='%23666D70' points='282.897 327.523 282.897 316.539 284.444 316.539 284.444 321.177 289.626 321.177 289.626 316.539 291.171 316.539 291.171 327.523 289.626 327.523 289.626 322.343 284.444 322.343 284.444 327.523 282.897 327.523'%3E%3C/polyline%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	background-position: center 40%;
	background-size: 60% auto;
}

.logo-lips-glyph {
	background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='292px' height='292px' viewBox='0 0 292 292' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 48.1 (47250) - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3Elips-logo-glyph%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='lips-logo-glyph'%3E%3Cpolyline id='Fill-4' fill='%231A1919' points='0.449 289.356 16.765 278.913 16.765 100.318 2.929 90.658 33.663 90.658 21.038 283.917 60.676 283.917 75.422 215.16 75.422 289.356 0.449 289.356'%3E%3C/polyline%3E%3Cpolyline id='Fill-5' fill='%231A1919' points='76.979 289.356 99.61 279.963 95.337 124.46 74.36 114.937 134.572 114.937 112.624 124.46 104.854 279.963 127.321 289.356 76.979 289.356'%3E%3C/polyline%3E%3Cpath d='M155.727,204.671 L157.56,204.671 C169.219,204.671 178.512,199.205 185.432,188.268 C192.351,177.333 195.811,162.45 195.811,143.616 C195.811,127.04 193.225,114.849 188.047,107.037 C182.87,99.225 174.755,95.319 163.702,95.319 L163.18,95.319 L155.727,204.671 Z M129.773,289.356 L146.088,278.913 L146.088,100.318 L132.253,90.658 L161.875,90.658 C176.048,90.658 187.416,95.941 195.98,106.503 C204.545,117.067 208.824,131.043 208.824,148.429 C208.824,165.907 203.756,180.426 193.625,191.988 C183.489,203.552 170.773,209.333 155.465,209.333 L150.36,289.356 L129.773,289.356 Z' id='Fill-6' fill='%231A1919'%3E%3C/path%3E%3Cpath d='M287.16,87.411 L287.16,154.171 C281.6,130.305 276.629,114.336 272.246,106.263 C267.864,98.19 262.505,94.154 256.168,94.154 C251.215,94.154 247.439,97.019 244.836,102.746 C242.231,108.476 240.933,116.891 240.933,127.999 C240.933,139.716 242.341,149.155 245.17,156.314 C247.998,163.473 253.631,171.176 262.073,179.418 C274.486,191.771 282.511,202.013 286.158,210.147 C289.8,218.279 291.627,227.736 291.627,238.522 C291.627,253.921 288.082,266.534 280.993,276.36 C273.903,286.19 264.92,291.104 254.05,291.104 C248.138,291.104 243.003,288.846 238.656,284.324 C234.311,279.802 230.438,272.631 227.045,262.804 L217.819,281.62 L217.819,205.837 C224.623,237.196 230.554,258.276 235.609,269.077 C240.672,279.878 246.735,285.277 253.801,285.277 C260.865,285.277 266.056,281.581 269.369,274.182 C272.684,266.786 274.341,255.168 274.341,239.326 C274.341,223.925 272.944,212.395 270.164,204.735 C267.379,197.075 262.462,189.81 255.415,182.933 C254.28,181.892 252.538,180.329 250.189,178.241 C239.64,168.948 232.356,160.348 228.351,152.439 C227.039,149.919 225.995,146.444 225.212,142.014 C224.423,137.583 224.035,132.894 224.035,127.941 C224.035,116.561 227.1,107.18 233.236,99.793 C239.373,92.409 247.1,88.715 256.41,88.715 C261.284,88.715 265.552,90.397 269.205,93.753 C272.859,97.11 276.082,102.321 278.868,109.386 L287.16,87.411' id='Fill-7' fill='%231A1919'%3E%3C/path%3E%3Cpath d='M97.508,8.531 C98.71,9.096 99.718,11.133 100.909,11.9 C101.575,13.36 101.4,13.297 103.081,13.681 C102.948,15.125 103.354,16.201 104.46,16.789 C106.409,12.3 101.06,12.749 100.625,8.688 C103.194,8.137 105.956,9.566 107.059,11.842 C107.311,12.358 107.369,18.526 109.817,15.148 C111.429,12.92 105.529,11.259 109.843,9.332 C113.103,7.874 113.244,11.39 115.158,11.785 C114.982,10.979 115.426,9.867 115.245,9.054 C119.062,7.829 122,9.426 122.605,12.632 C123.474,17.229 120.824,17.191 124.82,20.639 C126.322,21.936 128.641,23.167 128.059,25.73 C127.544,27.998 125.414,28.739 123.589,28.153 C122.657,27.854 120.223,25.484 120.536,24.299 C120.889,22.942 123.413,22.649 124.773,22.475 C124.46,20.512 121.193,19.399 119.401,19.065 C116.186,18.466 115.676,18.411 114.149,21.093 C111.824,25.178 114.573,30.232 119.795,29.577 C120.583,27.2 128.727,29.001 131.181,28.873 C131.504,31.172 133.894,31.424 136.22,32.479 C139.098,33.781 140.595,33.804 141.153,29.642 C139.637,28.502 137.865,27.632 138.382,25.429 C141.233,25.026 139.015,22.298 138.288,20.714 C139.1,20.303 140.475,20.167 141.495,20.437 C142.148,22.575 142.485,25.672 145.076,26.043 C145.139,25.609 145.144,25.148 145.166,24.716 C147.51,21.882 149.906,23.739 150.505,19.011 C153.619,18.648 154.127,24.71 152.24,26.095 C150.438,27.413 144.987,25.604 145.146,28.865 C145.872,29.233 154.456,28.776 155.463,28.23 C158.173,26.76 155.706,25.388 156.21,23.508 C156.733,21.564 158.207,21.062 159.686,20.444 C154.114,20.301 151.753,19.014 148.584,14.695 C146.064,11.266 143.378,8.755 139.139,7.924 C136.391,7.384 133.938,8.198 131.229,7.93 C129.363,7.748 128.115,6.28 126.704,5.717 C121.182,3.511 122.864,8.706 117.409,7.86 C117.253,7.08 116.729,7.033 116.354,6.58 C116.407,5.755 116.273,4.798 116.242,4.06 C110.639,3.769 109.037,3.325 104.531,0.402 C102.149,1.58 100.091,4.626 97.801,5.458 C96.069,6.086 90.551,4.869 92.135,8.573 C93.931,8.791 95.915,7.785 97.508,8.531 Z M93.852,26.158 C96.028,30.165 97.285,30.402 97.445,35.287 C99.831,35.683 104.46,32.891 104.531,30.35 L103.465,30.35 C104.06,30.114 104.49,29.888 105.192,29.941 C105.312,29.392 105.549,29.081 105.689,28.624 C107.005,29.481 107.926,30.751 108.864,32.085 C117.941,32.426 109.619,26.211 104.939,26.844 C105.137,28.713 103.788,29.469 102.02,28.945 C99.64,28.242 101.573,27.309 101.685,26.722 C101.941,25.388 103.175,24.982 103.107,22.875 C103.051,21.234 103.073,19.699 101.38,18.988 C101.991,23.263 97.097,18.721 95.143,18.98 C96.913,18.566 102.628,15.639 98.576,13.167 C96.411,11.85 90.613,14.688 90.642,17.179 C90.66,18.936 92.267,20.383 92.782,22.083 C93.288,23.745 93.022,24.628 93.852,26.158 Z M70.355,25.366 C75.268,25.341 73.511,21.006 76.036,19.227 C77,18.547 78.37,19.212 79.339,18.707 C80.063,18.332 80.247,17.299 80.871,16.726 C82.32,15.392 83.937,14.12 84.489,12.249 C77.78,12.544 75.425,11.428 71.045,16.718 C67.961,20.444 68.306,23.302 67.963,27.014 C68.049,27.058 68.139,27.096 68.22,27.146 L70.355,25.366 Z M60.301,68.434 C62.138,67.246 63.325,67.993 65.018,65.87 C66.572,63.92 67.047,61.275 68.228,59.192 C69.788,56.44 69.212,57.461 72.466,55.91 C72.514,54.542 72.46,53.125 72.547,51.764 C73.363,51.92 74.707,51.393 75.304,51.456 C74.713,50.406 76.523,45.537 77.735,44.849 C80.704,43.162 80.476,46.47 83.119,45.979 C83.247,43.437 83.469,40.533 82.736,38.174 C82.375,37.02 80.572,33.063 79.665,32.781 C78.896,30.573 76.605,28.42 76.454,26.045 C80.451,24.759 84.717,34.059 85.742,36.401 C86.131,37.294 87.853,43.871 89.881,40.335 C91.604,37.335 86.663,37.322 87.141,34.675 C91.695,32.847 91.345,38.791 95.223,37.772 C96.128,34.118 92.864,30.292 91.021,27.78 C89.605,25.847 90.268,25.09 89.578,22.877 C89.094,21.323 87.452,20.996 87.862,19.019 C88.755,18.593 88.942,17.841 89.543,17.179 C88.414,16.361 87.512,15.201 86.704,13.995 C83.528,15.499 84.359,16.634 83.172,19.315 C82.131,21.667 82.409,20.047 81.017,21.426 C80.207,22.225 79.27,22.744 78.837,23.882 C72.439,24.418 78.02,31.616 79.668,33.93 C78,39.049 70.401,28.511 67.467,32.139 C69.038,34.065 72.714,36.114 73.149,38.13 C71.436,38.263 70.156,38.673 68.505,38.101 C66.814,37.514 66.07,35.103 65.396,34.874 C65.092,34.771 64.753,34.742 64.401,34.767 C65.859,33.556 67.169,31.526 67.509,30.007 C67.75,28.935 67.877,27.949 67.963,27.014 C66.577,26.295 64.625,26.105 63.239,24.969 C62.756,24.575 59.641,32.273 59.952,33.436 C60.363,34.978 61.064,35.648 61.876,35.768 C60.66,36.644 59.761,37.96 59.978,39.196 C57.279,39.361 54.578,38.598 55.13,41.739 C55.141,41.814 57.169,44.576 57.276,44.669 C57.772,45.094 58.537,45.645 58.984,46.021 C59.278,46.267 60.078,45.741 60.396,46.086 C62.608,48.464 60.275,49.425 61.121,52.055 C61.562,53.428 65.411,57.444 60.795,56.638 C60.595,54.746 58.663,54.715 57.944,53.125 C57.571,52.299 58.128,51.153 57.896,50.294 C57.158,47.547 57.496,46.3 54.008,47.864 C54.548,50.147 57.111,53.841 57.19,55.974 C57.399,61.421 52.032,56.659 50.123,59.535 C48.656,61.742 55.539,59.749 56.73,60.61 C59.366,62.518 57.564,63.629 56.495,65.335 C55.888,66.296 54.739,67.579 53.919,68.734 C52.85,68.784 51.746,68.786 50.655,68.772 C50.821,71.122 48.567,76.068 49.415,78.704 C51.178,79.193 54.745,80.336 56.455,79.12 C57.966,78.041 57.727,75.553 57.595,73.36 C59.374,71.569 58.165,69.814 60.301,68.434 Z M49.639,67.521 C49.711,67.979 49.749,68.415 49.763,68.76 C50.056,68.77 50.357,68.767 50.655,68.772 C50.629,68.375 50.54,68.043 50.349,67.822 C50.23,67.681 49.969,67.59 49.639,67.521 Z M46.204,65.604 C44.404,67.436 47.986,67.173 49.639,67.521 C49.341,65.61 48.453,63.313 46.204,65.604 Z M84.543,74.083 C84.524,74.088 84.511,74.098 84.492,74.102 C84.422,73.297 84.34,72.692 84.143,72.213 C84.495,72.545 84.674,73.087 84.543,74.083 Z M156.826,41.039 C157.131,39.308 163.21,38.387 164.937,37.453 C162.756,37.312 160.683,38.562 158.757,38.553 C156.747,38.545 155.156,37.553 153.356,36.954 C153.889,37.169 153.453,37.312 153.945,38.123 C149.088,40.739 148.425,40.102 143.341,38.922 C142.822,45.21 154.545,48.549 153.261,55.222 C147.804,53.88 149.135,58.882 145.89,58.411 C144.937,56.685 142.613,55.315 143.77,53.178 C146.111,53.649 146.991,58.428 149.408,55.426 C151.335,53.032 148.392,50.319 147.152,48.521 C145.533,46.183 145.026,43.971 142.167,42.368 C138.675,40.405 138.218,42.692 136.131,45.629 C135.837,45.207 135.014,44.752 134.744,43.995 C135.401,45.464 134.498,47.046 134.87,48.424 C135.277,49.947 135.871,50.107 137.004,51.353 C138.885,53.424 140.751,55.174 141.629,57.96 C142.872,61.879 140.77,62.234 138.722,59.541 C136.956,57.219 136.522,53.805 135.229,51.487 C134.437,51.477 133.208,51.927 132.602,52.413 C133.726,55.511 140.216,60.024 139.719,63.056 C138.719,62.554 138.548,62.79 137.938,61.738 C133.907,61.586 133.791,54.217 131.297,52.448 C130.768,54.671 128.819,53.28 128.002,55.643 C127.857,56.057 128.765,59.541 128.701,60.556 C125.334,61.584 123.874,58.118 124.056,55.315 C123.6,55.297 123.196,55.279 122.74,55.323 C122.612,60.093 135.169,70.718 131.229,73.781 L130.516,73.424 C130.45,73.398 130.388,73.377 130.329,73.353 C129.158,72.089 128.185,70.654 127.006,69.467 C126.25,67.46 124.33,66.476 123.397,64.345 C122.486,62.262 122.561,60.09 120.542,58.465 C118.957,57.184 116.535,56.234 114.604,57.753 C111.699,60.04 114.653,60.547 116.359,62.38 C117.581,63.697 119.684,65.923 120.568,67.451 C121.488,69.039 122.646,73.013 119.103,71.311 C115.588,69.631 116.478,61.553 111.712,61.384 C111.51,62.389 111.041,63.339 111.269,64.471 C110.476,64.268 109.298,64.766 108.501,64.577 C109.098,67.465 113.93,70.293 113.383,73.37 L113.357,73.37 C113.31,73.141 113.252,72.902 113.154,72.625 C112.539,70.95 110.366,69.713 109.181,68.439 C108.185,67.372 106.279,63.785 104.6,64.577 C103.305,65.189 103.758,69.139 103.879,70.237 C104.179,72.949 108.994,79.331 102.454,77.999 C101.072,75.271 99.313,73.431 97.749,71.031 C96.859,69.666 96.859,69.514 96.692,68.165 C96.582,67.276 99.504,64.359 95.659,65.272 C96.028,66.198 95.807,67.411 95.935,68.388 C92.476,67.763 93.514,70.988 96.645,70.274 C96.822,71.1 97.003,72.639 97.02,73.353 C96.375,73.533 95.268,73.545 94.626,73.362 C94.281,72.336 93.598,72.132 93.443,70.986 C91.358,71.147 89.554,67.329 90.235,65.644 C89.753,65.425 88.7,65.256 88.208,65.281 C87.922,67.368 89.814,68.081 89.517,70.157 C88.358,70.592 87.164,70.978 86.02,71.289 L85.664,71.289 C85.244,69.595 85.628,67.656 84.593,66.404 C83.657,65.271 81.265,64.191 80.058,65.309 C78.72,66.546 79.585,69.15 80.498,70.404 C78.273,69.974 76.929,69.814 74.627,68.406 C73.693,69.279 73.139,69.477 73.133,70.897 C69.831,67.859 59.641,75.652 58.592,79.475 C55.813,89.603 70.542,85.019 64.305,80.188 C66.13,80.033 66.58,78.401 66.493,76.68 C72.01,75.043 67.877,86.932 74.93,84.761 C75.568,80.695 72.238,78.058 72.547,74.548 C77.633,73.228 72.822,86.761 80.27,85.581 C80.392,90.228 85.833,91.041 83.583,87.005 C83.946,87.017 84.263,87.083 84.552,87.18 C85.044,87.699 85.665,88.123 86.333,88.425 C87.339,89.399 88.27,90.356 90.629,89.38 C90.479,88.938 90.3,88.534 90.125,88.121 C90.593,87.229 90.024,85.771 88.313,84.617 C88.267,84.537 88.222,84.455 88.173,84.373 C90.225,81.315 91.2,87.16 91.412,88.677 C91.965,88.835 92.887,88.832 93.442,88.677 C93.766,87.307 93.407,85.969 92.552,84.878 C94.104,84.522 99.922,89.755 98.88,84.514 C100.158,84.388 101.433,84.993 102.343,85.48 C102.149,84.894 102.263,84.022 102.065,83.443 C103.572,83.289 104.748,83.959 104.885,85.421 C104.737,84.798 105.002,84.054 104.933,83.443 C105.622,83.238 107.007,83.233 107.69,83.453 C107.711,84.142 108.254,84.772 108.224,85.474 C118.727,86.1 111.263,83.401 112.009,78.071 C112.104,77.405 112.293,76.9 112.504,76.469 C112.869,76.433 113.244,76.387 113.654,76.328 C113.656,84.401 120.847,81.014 118.963,74.772 C119.83,74.387 120.7,74.393 121.557,74.91 C121.596,76.814 122.456,78.46 124.425,78.346 C124.58,78.28 125.691,77.556 126.183,77.279 C126.591,74.934 125.458,73.567 124.864,71.621 C126.276,71.17 127.527,73.474 128.748,75.006 C128.88,75.343 129.031,75.665 129.174,75.87 C129.253,75.826 129.34,75.797 129.425,75.757 C130.242,76.516 131.052,76.606 131.9,74.99 C132.363,74.909 132.831,74.841 133.312,74.794 C133.456,72.026 131.524,65.534 135.802,65.648 C135.927,67.105 135.734,72.902 138.809,69.25 C140.262,67.523 137.001,63.024 141.498,64.223 C141.615,65.378 142.047,66.214 142.316,67.321 C146.268,67.487 150.294,66.347 152.41,62.655 C153.356,61.012 152.908,58.969 153.915,57.311 C154.25,56.756 155.502,56.766 156.139,55.97 C156.941,54.963 157.428,54.435 157.523,53.186 C155.094,53.733 153.989,51.714 154.709,49.833 C155.311,48.25 158.039,49.797 157.532,46.795 C156.741,46.702 155.891,45.977 155.1,45.926 C155.322,45.668 155.587,45.224 155.824,44.947 C154.536,44.347 153.383,43.38 153.709,41.794 C158.656,40.305 157.081,48.825 160.383,47.09 C160.083,46.25 156.866,40.829 156.826,41.039 Z M153.356,36.954 C153.209,36.896 153.013,36.835 152.688,36.751 C152.915,36.811 153.134,36.881 153.356,36.954 Z' id='Fill-8' fill='%23D0232B'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	background-size: cover;
}

.logo-inline {
	width: 50px;
	height: 50px;
}

@media (min-width: 768px) {

	.logo {
		margin: 0;
		left: auto;
		top: -15px;
		width: 90px;
		height: 90px;
	}

}

@media (min-width: 990px) {

	.logo {
		top: -15px;
		width: 100px;
		height: 100px;
	}

}

@media (min-width: 1200px) {

	.logo {
		top: -25px;
		width: 120px;
		height: 120px;
	}

}

// Menu toggle button

.btn-menu-toggle {
	margin: 0;
	padding: 10px !important;
	float: right;
	background: transparent;
	border: 0;

	div {
		position: relative;
		width: 20px;
		height: 20px;
	}
	
	// hamburger icon
	&.menu {
		margin-top: 8px;
		margin-right: -22px;

		.menu-line {
			background-color: $white;
		}
		.menu-line:nth-last-of-type(1) { top: 0; }
		.menu-line:nth-last-of-type(2) { top: 8px; }
		.menu-line:nth-last-of-type(3) { top: 16px; }
	}

	// cross icon
	&.close {
		margin-top: -8px;
		margin-right: -6px;

		.menu-line {
			background-color: $brand-secondary;
		}
		.menu-line:nth-last-of-type(1) { transform: rotate(45deg); }
		.menu-line:nth-last-of-type(2) { display: none; }
		.menu-line:nth-last-of-type(3) { transform: rotate(-45deg); }
	}
}

.menu-line {
	position: absolute;
	left: 0; top: 9px;
	height: 2px;
	width: 20px;
}


// Footer
// =============================================

.lps-footer {
	padding: 2rem 0;
	background-color: $shade-1;
	
	.footer-info-title {
		margin-bottom: 1rem;
		font-weight: $font-weight-normal;
		font-size: 18px;
	}
	
	li {
		margin-bottom: 0.5rem;
	}

	a {
		color: $gray-600;
		&:hover {
			color: $gray-500;
			text-decoration: none;
		}
	}
}

.list-social {

	.list-inline-item:not(:last-child) {
		margin-right: 0.5rem;
	}
}

// Global Sections
// =============================================
// UI consists of three main sections.


// Main content
.lps-content {
	margin: 3rem 0;
}

@media (min-width: 1200px) {

	.lps-content {
		margin: 5rem 0;
	}

}

.lps-content-home {
	margin-top: 0;
}


// Hero Sections
// =============================================

.hero-section {
	position: relative;
}

.hero-title,
.hero-subtitle {
	width: 90%;
}

// h1, h2 content

.hero-title {
	margin-left: auto;
	margin-right: auto;
	font-weight: $font-weight-600;
	max-width: 1000px;
}

h1.hero-title {
	font-size: 36px;
	line-height: 48px;
}

.hero-title {
	font-size: 32px;
	line-height: 38px;
}

// p content

.hero-subtitle {
	margin: auto;
	font-size: 20px;
	line-height: 30px;
}

// hero content

.hero-text {
	padding-top: 2rem;
	padding-bottom: 3rem;
}

// grouped hero content

.hero-group {
	padding: 3rem 0;
}

// hero background image

.hero-image {
	position: relative;
	padding: 10rem 0;
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	// overlay shadow
	&::before {
		position: absolute;
		top: 0; left: 0; bottom: 0; right: 0;
		content: "";
		width: 100%;
		height: 100%;
		background-image: linear-gradient(rgba($shade-1, 0.4), rgba($shade-1, 0.8));
	}

}

// hero background highlights

.section-highlight {
	background-color: rgba($highlight, 0.2);
}

@media only screen and (max-width: 767px) {

	.hero-image {
		padding: 5rem 0;
	}

}

@media only screen and (min-width: 768px) {

	.hero-title,
	.hero-subtitle {
		width: 60%;
	}

}


// Callout Features
// =============================================

.callout-title {
	font-size: 20px;
	font-weight: $font-weight-500;
	line-height: 30px;
}

.callout-text {
	font-size: 17px;
	line-height: 25px;
}


// Promotions
// =============================================

.promo {
	margin-bottom: 1rem;
}

.promo-item {
	@include transition(border-color 0.15s ease-in-out);

	&:hover {
		border-color: $brand-primary;
	}

	&:hover .promo-savings {
		background-color: $brand-primary;
	}
}

.promo-savings {
	padding: 10px;
	color: $white;
	background-color: $shade-1;
	@include border-radius($radius-xs $radius-xs 0 0);
}

.promo-img {
	padding-top: 1rem;
}

.promo-title {
	margin-bottom: 0.25rem;
	font-size: 1rem;
}

.promo-details {

	p {
		color: $shade-2;
		font-size: 0.9rem;
	}

	.promo-item-highlight {
		margin: 0;
		color: rgba($shade-2, 0.6);
	}
}

// Card actions

.promo-footer {
	display: table;
	margin-bottom: 1rem;
	width: 100%;

	.promo-footer-left,
	.promo-footer-right {
		display: table-cell;
	}
	
	.promo-footer-left {
		font-size: 0.9rem;
	}

	.promo-footer-right {
		text-align: right;
	}
}

.price-initial {
	text-decoration: line-through;
}

.promo-price {
	color: $brand-primary;
	font-size: 1.5rem;
}


// Search Results
// =============================================
// Use !important to override default rules.

.search-result-item {
	flex: 0 0 100% !important;
	border-radius: 0;
	margin-bottom: -1px !important;

	& + .search-result-item {
		border: $card-border-width solid $card-border-color !important;
	}

	.price {
		color: $brand-primary;
	}

}

.search-result-main {
	width: 100%;
	vertical-align: top;
}

.result-availability {
	white-space: nowrap;
}

.result-item-expiry {
	padding-left: 0.25rem;
	color: $brand-primary;

	&::before {
		display: inline-block;
		content: "\e88b";
	}
}

@media screen and (max-width: 340px) {

	.result-item-expiry {
		display: block;
		padding: 0;
	}

}

.btn-buy-now {
	padding-left: 2rem;
	padding-right: 2rem;
}


// Content
// =============================================


.lps-table-cart {

	thead {
		th {
			padding-top: 0.25rem;
			color: $text-muted;
			font-size: 0.875rem;
			letter-spacing: 0.05rem;
			text-transform: uppercase;
			border-width: 0 0 2px;
		}
	}
}

// Cart - product row

.cart-item-title {
	line-height: 1.3;
}

.cart-input-qty {
	padding: 0;
	width: 40px;
	text-align: center;
}

// Cart - cost summary

.cart-summary-title {
	margin-bottom: 24px;
	color: $brand-primary;
}

.cart-summary-total {
	margin: 1rem 0;
	padding: 20px;
	background-color: lighten($brand-primary, 45);

	p {
		margin-bottom: 0;
		font-size: 18px;
		font-weight: $font-weight-600;
		line-height: 1;
	}

}

// Cart - form details

.form-hint-inline {
	margin-left: 0.25rem;
}

.form-check-inline {
	margin-right: 1rem;
	
	.form-check-input {
		position: static;
		margin-top: 0;
		margin-right: 0.5rem;
		margin-left: 0;
	}

	.form-check-label {
		padding: 0;
	}

}

.cart-form-details-payment {
	padding: 1.5rem;
	background-color: lighten($brand-secondary, 82);
}


// Components
// =============================================

// Forms - validation
// Displays a left border to better indicate error section
// within the the form.

.has-error {
	padding-left: 1rem;
	border-left: 4px solid $brand-primary;

	input {
		border-color: $brand-primary;
	}

	// display errors messages on validation check
	.invalid-feedback {
		display: block;
		margin-top: 0.5rem;
		font-weight: $font-weight-600;
		line-height: 1;
	}

}


// Buttons

.lips-btn {
	color: $white;
	cursor: pointer;
}

.lips-btn-primary {
	@include button-theme($lips-btn-primary);
}

.lips-btn-secondary {
	@include button-theme($lips-btn-secondary);
}

.btn-expanded {
	display: block;
	margin: 0 auto;
	width: 100%;
	max-width: 300px;
}

// Blockquotes

.blockquote-testimonial {
	padding: 2rem 0;
	border: solid $card-border-color;
	border-width: 2px 0 0;
}

.blockquote-img {
	margin-bottom: 1rem;
	max-width: 150px;
}

.blockquote-content {
	overflow: hidden;
}

@media only screen and (min-width: 768px) {

	.blockquote-img {
		margin-right: 2rem;
		float: left;
	}

}

// CSS Shapes

.btn-shape {
	position: relative;
	padding: 0;
	width: 30px;
	height: 30px;
 	background: lighten($shade-1, 83);
  border: 0;
  -webkit-appearance: none;
  cursor: pointer;
	
	&:hover {
		background: lighten($shade-1, 80);

		.menu-line {		
			background-color: lighten($brand-secondary, 20);
		}
	}

	.menu-line {
		width: 10px;
		background-color: $brand-secondary;
	}

	div {
		position: relative;
		left: 10px;
		top: -10px;
	}

	// plus shape
	&.btn-shape--plus {
		.menu-line:nth-last-of-type(2) {
			transform: rotate(90deg);
		}	
	}

	// plus shape
	&.btn-shape--plus {
		.menu-line:nth-last-of-type(2) {
			transform: rotate(90deg);
		}	
	}
	
}


// Countdown timer

.row-timer {
	margin-top: -35px;
}

.timer {
	padding: 10px 10px 5px;
	max-width: 400px;
	min-width: 280px;
	background-color: $brand-primary;
	border-radius: $radius-pill;
	@include card(3);
	
	.list-inline-item:not(:last-child) {
		margin-right: 1rem;
	}

	span {
		display: block;
	}

	.timer-number {
		font-size: 32px;
		font-weight: $font-weight-500;
		line-height: 34px;
	}

	.timer-text {
		font-size: 11px;
		letter-spacing: 1px;
		line-height: 1;
		text-transform: uppercase;
	}

}


// Button toggle search
// =============================================
// z-index set to avoid logo overlap.

.btn-search-toggle {
	position: relative;
	display: block;
	padding: 10px 0;
	color: $white;
	text-align: center;
	z-index: 999;

	&:hover {
		color: $white;
		text-decoration: none;
	}
	
	// arrow down - initial state
	&::after {
		display: inline-block;
		content: "\e5db";
		@include transition(all 0.25s ease-in-out);
		
	}

	// arrow up
	&.expanded::after {
		@include transform(rotate(180deg));
	}
	
	// arrow down
	&.collapsed::after {
		@include transform(rotate(0));
	}

}


// Social icons
// =============================================

// Rounded icons

.social-icon {
	display: inline-block;
	background: $brand-primary;
	color: $white;
	border-radius: $radius-round;
	text-align: center;
	height: 44px;
	width: 44px;
	line-height: 44px !important;
	font-size: 1.5rem;
	
	&.icon-facebook {
		background-color: $brand-facebook;
	}

	&.icon-twitter {
		background-color: $brand-twitter;
	}

}


// Mobile Menu
// =============================================

.mobile-sidebar {
	
	.mobile-sidebar-header {
		margin-bottom: 1rem;

		& > :first-child {
			display: inline-block;
			font-weight: $font-weight-normal;
		}
	}

	.link-text-secondary {
		font-size: 0.75rem;
	}
}


// Utilities
// =============================================

// Circular images

.circular-landscape {
	display: inline-block;
	position: relative;
	width: 200px;
	height: 200px;
	overflow: hidden;
	border-radius: $radius-round;
	
	img {
		width: auto;
		height: 100%;
		margin-left: -50px;
	}
}
